[2021-03-24 14:20] mbauman commented on #40168
You just need to define `transpose(::RationalTransferFunction{Int64,:z})` in your package? That's why Polynomials [works](https://github.com/JuliaMath/Polynomials.jl/blob/4f7c5662218e1a2a79980c0891204665c132d0a0/src/common.jl#L417). `transpose` is a linear algebraic operation and is recursive, calling it on all the elements.  If you just want to treat the array like a box and swap its dimensions,

[2021-03-24 14:20] #40168 closed

[2021-03-24 14:34] TheCedarPrince opened #40169 "Markdown: indenting sublists with tabs is not supported"
Hi all! Thanks for making such a wonderful tool and making Julia even better and better!

I found an interesting bug when working on creating a docstring and trying to add in a sublist. Here is the docstring I was trying to make:

[code]

Which I expected to be nicely formatted like this:

---
    latex(text::LaTeXString, pos::Point, object::Symbol; valign::Symbol = :top, halign::Symbol = :left)

[2021-03-24 14:36] TheCedarPrince commented on #40169
This was also found by @xijiang and discussed over here: https://discourse.julialang.org/t/how-to-put-sublists-into-docstrings/57843

[2021-03-24 14:52] fredrikekre commented on #40169
Tabs -> Spaces?

[2021-03-24 14:53] fredrikekre commented on #37232
https://github.com/JuliaDebug/Debugger.jl/issues/287

[2021-03-24 15:08] ifelsefi commented on #40093
Thank you everyone.

These are attached.

[2021-03-24 15:38] mbauman commented on #40169
I also recently saw this on CSV.File's docstring, too:

[code]

https://github.com/JuliaData/CSV.jl/blob/c386238f756d9465288c72b882bb68fcdf62ea3a/src/file.jl#L166-L174

[2021-03-24 16:09] vchuravy commented on #40159
Please do.

[2021-03-24 16:16] dmbates opened #40171 "ldiv!(LowerTriangular(SparseMatrixCSC{Tv,Ti), ...) fails for Ti not Int"
[code]

The immediate problem is at SparseArrays/src/linalg.jl:649
[code]
where `i2` ends up being an `Int64` whereas `i1` is `Int32`.  It could be changed to
[code]
The same problem would occur at line 694.

[2021-03-24 16:40] #40148 closed

[2021-03-24 16:50] TheCedarPrince commented on #40169
@fredrikekre - although this doesn't show it, I tested tabs and spaces and both have the same effect. I wonder if the Markdown parser somehow is not understanding the spacing/indenting...

[2021-03-24 17:28] ElOceanografo opened #40172 "`getproperty` for `SuiteSparse.UMFPACK.UmfpackLU` always extracts all fields"
The `getproperty` [method ](https://github.com/JuliaLinearAlgebra/SuiteSparse.jl/blob/4c3efa357aed9c4da8c7465bce69acf35986435f/src/umfpack.jl#L469)for `UmfpackLU` extracts all fields for the object, then discards the ones that weren't requested. This is clearly suboptimal for performance, an issue which I've run into [here](https://github.com/JuliaLang/julia/pull/38476).

Umfpack should allow extr

[2021-03-24 17:47] strickek commented on #40004
Dup of #36933?

[2021-03-24 18:08] staticfloat commented on #39293
@jmkuhn can you try out the latest tip of the `sf/arm_debugging` branch?  I think I may have found the issue.

[2021-03-24 18:15] Pramodh-G commented on #39853
Hi! @KristofferC,  I think you could close this issue, it's been fixed. Hopefully it doesn't lure in anymore first time contributors :stuck_out_tongue: . Thanks for all the work you do!

[2021-03-24 18:16] musm commented on #40004
yep closed as dupe

[2021-03-24 18:16] #40004 closed

[2021-03-24 18:17] musm commented on #39853
Closed as this is already fixed on master

[2021-03-24 18:17] #39853 closed

[2021-03-24 18:18] musm commented on #39853
Thanks @Pramodh-G for checking

[2021-03-24 18:20] Pramodh-G commented on #40133
Hey @stevengj, does this still need documentation? I'm a first time contributor and I could take a shot at it!

[2021-03-24 18:25] JeffBezanson commented on #40160
The difficulty with this is that without any elements, we don't know what the domain is, so we don't know if `1` is the correct identity element.

(We have `prod(()) == 1` but it's a legacy thing that's not ideal.)

[2021-03-24 18:29] JeffBezanson commented on #40164
[code]

[2021-03-24 18:41] ifelsefi commented on #40093
Hello

Thank you @staticfloat.   These are attached as well as output of my compile attempt.   I did not use `rpath` this time.

[Make.inc.txt](https://github.com/JuliaLang/julia/files/6199719/Make.inc.txt)
[compile_output.txt](https://github.com/JuliaLang/julia/files/6199720/compile_output.txt)
[Make.user.txt](https://github.com/JuliaLang/julia/files/6199721/Make.user.txt)

[2021-03-24 18:54] JeffBezanson commented on #40167
Right, this is tricky because we create a new type of NamedTuple to hold the arguments before calling the sorter. As you guessed, we need to specialize on that type in general to optimize keyword sorting. In theory we could specialize that slot on `@NamedTuple{x::T} where T<:Function`; maybe that could be hacked in just for keyword sorters, but it's pretty fancy. Especially if we want to restrict

[2021-03-24 19:03] #35354 closed

[2021-03-24 19:17] #40142 closed

[2021-03-24 19:21] fredrikekre commented on #40169
That is https://github.com/JuliaLang/julia/issues/37232

I can not reproduce it with just spaces, so I believe the problem is that you mix spaces and tabs in your example.

[2021-03-24 19:42] IanButterworth commented on #39760
https://github.com/JuliaLang/julia/pull/39802 is now in 1.6.0.

Perhaps the issue can remain open to see how people get on with the `@time` vs. `@time @eval` trick

[2021-03-24 20:48] mbauman commented on #40169
Ah, I see.  So using spaces give us #37232:

[code]

Using tabs is also broken, but differently:

[code]

[2021-03-24 21:36] TheCedarPrince commented on #40169
Hunh... Thanks for the sleuthing @mbauman - so there is two bugs here then. The one already reported by @KristofferC (#37232) and this new one with tabs. Do you know how I might go about fixing this?

[2021-03-24 22:57] davidavdav commented on #40160
Is `prod(())` what `prod(i for i in Int[])` in the end evaluates to?   I can imagine it is difficult to deduce the type of the argument from an empty generator expression, but julia is still able to do this for the non-tuple cases
[code]
but tuples start to make a difference between `collect` and `prod`
[code]

Thanks, anyways, I can definitely live with the current behavior, I just wondered if th

[2021-03-24 23:18] StefanKarpinski commented on #40160
For products and sums, I feel like using `true` and `false` as "weak" identities would be ok, but it's a fairly big decision. And even if it works computationally, people will be surprised and complain about it, so 🤷🏻‍♂️

[2021-03-24 23:23] jmkuhn commented on #39293
Yes, it now builds and passes my initial tests.  Thanks!

[2021-03-25 00:23] staticfloat commented on #40093
Hmmm, okay, looks like `fixup-libgfortran.sh` is getting confused because it expects to find at least one library that uses libgfortran.  Can you try disabling that via the following patch:

[code]

[2021-03-25 01:34] tkf opened #40177 "A "fatal error in type inference (type bound)" in Julia 1.6.0-rc3 and 1.7.0-DEV.749"
I'm getting `fatal error in type inference (type bound)` from the following program (extracted from [an old version of UnionArrays.jl](https://github.com/JuliaFolds/UnionArrays.jl/blob/e28437c0263f6a975c60b7abfb10e7639f90c3d6/src/impl/vectors.jl#L62)) when executed with Julia 1.6.0-rc3 and 1.7.0-DEV.749:

[code]

Arguably, this is a misuse of the internal (now even deprecated) functions `tuple_typ

[2021-03-25 01:47] JeffBezanson commented on #40160
Not exactly, we just have some special cases for the `identity` function, allowing `i for i in ...` to work.

[2021-03-25 03:15] stevengj commented on #40133
Yes.

[2021-03-25 05:52] #38491 closed

[2021-03-25 05:52] #36933 closed

[2021-03-25 06:57] maleadt commented on #40177
Reduced to:

[code]
[code]

[2021-03-25 09:28] #34330 closed

[2021-03-25 11:20] mschauer opened #40180 "Section Data-race-freedom"
Section https://docs.julialang.org/en/v1/manual/multi-threading/#Data-race-freedom
is perhaps a bit unlucky starting point of that chapter.

In
[code]
it's not clear how `lk` and `a` and accesses from different threads relate.

It doesn't say what this does and how it is used, only that it should be used.

[2021-03-25 12:09] andreasvarga commented on #40168
Thanks, very helpful!

[2021-03-25 14:38] MikaelSlevinsky commented on #40108
A workaround is to `copy` the output
[code]
I could be wrong, but I think this is because the output vector is shared with a temporary vector in the QR factorization (maybe a Householder reflector?) that doesn't get cleared before its use in the solve phase. Copying the output places a memory barrier between it and a temporary array. (Not saying this is ideal.)

Note that `lu` works fine (perhaps

[2021-03-25 14:40] quinnj commented on #40121
At one point, I looked into having NamedTuple display switch over to the Dict display code if the output was larger than one line; I really like the "single line" printing of small NamedTuples, but agree that it's pretty unwieldy when they get too big. The problem w/ the Dict approach is that code is kind of split over a few different places and, IMO, not factored to be very re-usable.

[2021-03-25 14:43] ifelsefi commented on #40093
That helped but error on another dependency
[compile_output_again.txt](https://github.com/JuliaLang/julia/files/6205531/compile_output_again.txt)
.

[2021-03-25 15:18] pdeffebach commented on #40121
Maybe a "general" solution would be to have a named tuple print like a table

[code]

unless the table is too wide then print like a `Dict`. When printing as a table, arrays go downward.

Then the `(a = 1, b = 2, c = 3)` printing is reserved for `repr`.

[2021-03-25 15:43] HaoxuanGuo commented on #40040
It has been fixed in 1.6.0. Thanks.

[2021-03-25 15:43] #40040 closed

[2021-03-25 16:13] staticfloat commented on #40093
So this error looks like it can't find MKL.  Where is MKL installed, and how are you setting the path to `MKLROOT`?

[2021-03-25 16:20] ifelsefi commented on #40093
Yes, we are:

[code]

Using environment modules:

[code]

[2021-03-25 16:22] ifelsefi commented on #40093
Ah though `/tmp/julia-1.5.4/usr/lib/julia/libimf.so` is provided by the compiler which isn't loaded :)

[2021-03-25 16:24] ifelsefi commented on #40093
Ok, I loaded that.   Now new error:

[code]

[2021-03-25 16:29] ifelsefi commented on #40093
OK that's loaded though now a new error.   LLVM also shows this again without using `rpath`:

[code]

[2021-03-25 16:31] ifelsefi commented on #40093
Just finished :)

[code]

[2021-03-25 17:51] bramtayl commented on #39910
Maybe we could have a `split` function which will split a named tuple into this kind of design, and `NamedTuple` to pull it back together again?

[2021-03-25 18:20] nico202 opened #40185 "v1.6.0 tarball build failing (number of precompile statements < 1200)"
Hi, when building the latest release tarball, I get

Generating REPL precompile statements... 29/29
Executing precompile statements... 1148/1148
ERROR: LoadError: AssertionError: n_succeeded > 1200

Any idea on why the total number of precompile statements is less than expected?

Thanks

[2021-03-25 18:29] pazner opened #40186 "Bug in up-arrow history search"
There is a bug that I encounter frequently with up-arrow history search in the REPL. It is a little difficult to explain, so please bear with me.

Suppose we start with:

[code]

I then type `f` at the REPL, and search the history with up-arrow. I get, as expected, `f(3);`, `f(2);`, `f(1);`, etc.

Now, I stop at `f(2);` and edit the line so that it reads just `f`. I press up-arrow again to get `f(

[2021-03-25 18:30] tomyun opened #40187 "LocalScan assertion failure"
It's redirected from yuyichao/FunctionWrappers.jl#23.

[code]

The crash confirmed with FunctionWrappers 1.1.2 on Julia 1.5 and 1.6. It used to work fine with FunctionWrappers 1.1.1.

A major change between 1.1.1 and 1.1.2 includes yuyichao/FunctionWrappers.jl#15 where the use of `isbitstype()` was replaced by `Base.allocatedinline()`.

[2021-03-25 18:42] awadell1 commented on #36617
Has anyone had success compiling v1.6 for apple silicon? I'm getting the write_fault error on v1.6.0 and an undefined symbol error if I cherry_pick 6bfdb8eb (Apply `WRITE_FAULT` workaround) from sf/apple_silicon_latest. Cherry-picking 3da93f3 (Bump `p7zip_jll` to get coddesigned `7z` binary) gives me a sha512 checksum failure on LibGit2.v1.2.3.

I can build master locally (With warnings but it doe

[2021-03-25 19:21] JeffBezanson commented on #40070
Triage still doesn't like this syntax and most of us don't want to reinstate it.

[2021-03-25 19:36] fonsp opened #40188 "Confusing test failure display for KeySet"
_Julia 1.6.0-rc3_

runtests.jl:
[code]

Test output:
[code]

[2021-03-25 19:38] matbesancon opened #40189 "Anonymous or temporary module syntax"
Use case: tests including and running a bunch of script-like files like examples.

The easiest (only?) way to have each file in its own namespace and avoid leaks is to put each one in a separate module.
One could `@eval` to give them random names, but it would be better to have either:
[code]

[2021-03-25 19:51] #39293 closed

[2021-03-25 19:52] matbesancon commented on #40189
The idea is a bit related to https://github.com/YingboMa/SafeTestsets.jl

[2021-03-25 21:02] Sacha0 commented on #40185
You may be able to see more by toggling `debug_output` in `contrib/generate_precompile.jl` and rebuilding: https://github.com/JuliaLang/julia/blob/f25d9885f6c55f6efe75abca5a9577f6bef07bed/contrib/generate_precompile.jl#L183

[2021-03-25 21:09] mbauman opened #40190 "v1.6.0 doc pdf missing"
The link on the top of the manual points to a [404](https://raw.githubusercontent.com/JuliaLang/docs.julialang.org/assets/julia-1.6.0.pdf).

[2021-03-25 21:12] fredrikekre commented on #40190
https://github.com/JuliaLang/docs.julialang.org/runs/2196972845?check_suite_focus=true

[2021-03-25 21:16] jtrakk commented on #37691
https://github.com/JuliaLang/julia/pull/6910 is a relevant PR from David Moon.

[2021-03-25 21:19] KristofferC commented on #40185
Yeah, it can be two things:

- We are very close to that threshold and should lower it.
- Something is going bad during the precompile generation and it isn't running what it should be running. Doing what @Sacha0 suggested should identify this.

[2021-03-25 21:29] nico202 commented on #40185
Thanks, I rebuilt following @Sacha0  suggestion.  It seems that the only thing going bad is the Pkg.add part (because the build happens in an environment with no internet connection, so cloning registry from "https://github.com/JuliaRegistries/General.git" fails). This leads to Pkg.develop to fail, and then Pkg.add.

I think I'll just lower the threshold for the guix package...
Thanks

[2021-03-25 21:33] KristofferC commented on #40185
Oh, hm. That is a mistake from our side, that shouldn't run (exactly because it shouldn't require internet access to run that part).

[2021-03-25 21:36] mbauman commented on #40190
Thanks! 404 no more.

[2021-03-25 21:36] #40190 closed

[2021-03-25 21:38] nico202 commented on #40185
Wait, I got the error wrong. It also complained about certificates, so I added nss-certs to the build environment and now it did work (Executing precompile statements... 1323/1323)

[2021-03-25 21:39] goretkin commented on #10779
I think the current behavior, `isinteractive()` returns different values within the same invocation of a julia process (see below),  is unexpected. I expect `isinteractive() == true` if a REPL is going to exist, not just after it already exists.

[code]

And for completeness:

[code]

Is `isinteractive()` effectively "is a REPL running?"? The docstring could clarify. Currently:

[code]

[2021-03-25 21:39] ifelsefi commented on #40093
This is now resolved with system provided libunwind.   Thank you everyone!

[2021-03-25 21:39] #40093 closed

[2021-03-25 21:44] goretkin commented on #10779
From `julia --help`:
` -i                        Interactive mode; REPL runs and isinteractive() is true`

Is the only difference between `julia` and `julia -i` the return value of `isinteractive()`?

[2021-03-25 21:49] vtjnash commented on #40188
Huh, it appears we define `function show(io::IO, s::Set)` instead of for `AbstactSet`, so the printing is quite sub-optimal here:

[code]

[2021-03-25 21:52] #23548 closed

[2021-03-25 21:53] vtjnash commented on #23548
Questions have been addressed or are less relevant now than other issues

[2021-03-25 21:55] vtjnash commented on #36221
We now have CI upload manifest files with this information. See PkgEval.jl for an API

[2021-03-25 21:55] #36221 closed

[2021-03-25 21:56] vtjnash commented on #40185
I thought we had issue before about avoiding network access in generate_precompile. This might be a regression?

[2021-03-25 22:05] staticfloat commented on #40093
@ifelsefi you're probably looking at latest `master` which doesn't support building against MKL anymore (because on `master` we can switch at runtime).  If you'd like to open a PR, make sure you start from the `release-1.5` branch, as that will look like what you see in your tarball. :)

[2021-03-25 22:07] kaandocal opened #40191 "Importing Optim with --track-allocation=all causes crash (assertion error)"
Hi,

The following code causes Julia to crash when run with --track-allocation=all (but not with the 'user' or 'none' settings):

[code]

Here `nothing` can be replaced by any statement. I'm using Julia 1.5.3 on Ubuntu 16.04.

Full error message:

[code]

[2021-03-25 22:07] Sacha0 commented on #40185
IIRC generate_precompile builds a mock registry to avoid going to network, but the cert issue that nico202 mentioned breaks that mock setup, and downstream operations subsequently try to go to network. (We ran into the same issue :).) So I think all is well, it's just the cert issue.

[2021-03-25 22:20] goretkin opened #40192 "`import InteractiveUtils` in `startup.jl` breaks default behavior"
The `isdefined` check here returns `true` if there is an `import InteractiveUtils` in `startup.jl`
https://github.com/JuliaLang/julia/blob/188755071fa372ba9c6fb0c11f316f075fbe3ddd/base/client.jl#L357

The behavior of `isdefined` is expected, but the behavior of `load_InteractiveUtils` is not. Is the check even needed?

[2021-03-25 22:22] ghost opened #40193 "1.6 gets stuck on ] add Plots"
It takes a lot of time to clone the https://github.com/JuliaRegistries/General.git.

Then, after that, it seems to get stuck at:

[code]

And finally,
[code]

I don't know what to expect, if it is normal for the cloning step to take this long (much longer than just doing a git clone).

I haven't tried to figure out why the pkg add failed.

At this step, I'm not particularly inclined to _try again

[2021-03-25 22:25] phgmacedo commented on #40193
Git cloning the JuliaRegistries/General.git seems to be much faster, though it is still slow:

[code]

I don't know if it's related to my location.

[2021-03-25 22:29] ifelsefi commented on #40093
Ha @staticfloat.   I am excited to try this all over again with Julia 1.6!

[2021-03-25 22:36] fredrikekre commented on #40193
libgit2 operations are for some reason very slow on Windows. As a workaround you can `git clone` it to the expected location directly.

[2021-03-25 22:37] phgmacedo commented on #40193
I'm not in a rush to use Julia. I can happily wait until this gets sorted out.

[2021-03-25 22:43] goretkin opened #40195 "Define `getindex(::Base.MethodList, ...)` for easier introspection"
I know about the [`^Q` keyboard shortcut](https://docs.julialang.org/en/v1/stdlib/REPL/#Key-bindings) but I think this is quite easy to remember:

`edit(methods(setdiff).ms[2])`

and it would look nicer as

`edit(methods(setdiff)[2])`

Is there a reason for not defining `getindex(::Base.MethodList, ...)`?

[2021-03-25 23:00] be5invis opened #40196 "Windows / ARM64"
It may take forever to realize, but at least having an issue to track this is better than having nothing.

[2021-03-25 23:02] quinnj commented on #40121
The thing I like about going from `(a = 1, b = 2, c = 3)` to:
[code]
is you keep the same characters, it's just different whitespace, so it's still copy/pastable by default.

[2021-03-26 01:01] banx opened #40197 "Outer variable shadowed when defining a function inside a `for` loop"
Consider the following code block
[code]
Upon execution, the interpreter spits the following error: `UndefVarError: h not defined`
Regardless of what is the function, the error persists (e.g. defining `y(t) = 0` will results with the same error). Using the short form or with `function` keyword gives the same error.
Of course, the expected execution in this example should give a result `h = 10`.

[2021-03-26 02:26] haozhangphd opened #40198 "Don't hard-code libmbedcrypto.so version"
On Arch Linux, Julia is built with `USE_SYSTEM_MBEDTLS=1`, and the current version of Mbed TLS on Arch Linux is 2.25. In [MbedTLS_jil.jl](https://github.com/JuliaLang/julia/blob/4f5044a86b92b008708096918c6309e4503e8437/stdlib/MbedTLS_jll/src/MbedTLS_jll.jl#L34), the version number of libmbedcrypto is hard-coded to `libmbedcrypto.so.5`, while Arch Linux only provides `libmbedcrypto.so.6`.

For this

[2021-03-26 03:31] jmkuhn opened #40199 "armv7l - No loaded BLAS libraries were built with LP64 support"
Issue introduced with commit dc81980e0b9ea4f817fc1a36139867469da0f594
[code]

[2021-03-26 05:47] thisrod opened #40200 "Julia 1.6 compiler crash on OSX"
It looks like something went wrong with linking the Julia 1.6 release.  I'm not sure how to reduce this to a minimal example.

I'm on OSX version 10.10.3, which is ancient; if this doesn't reproduce on more recent OSXs, the answer might be for me to get a newer machine.

The method redefinition in `DifferentialEquations` is a long standing error, and seems harmless.

       _       _ _(_)_     |

[2021-03-26 07:24] antonio-rojas opened #40201 "Build fails with USE_SYSTEM_CSL=1"
When using USE_SYSTEM_CSL=1, the build system still tries to call an internal libgcc_s.so.1 (which obviously fails)
[code]

[2021-03-26 07:35] antonio-rojas opened #40202 "Missing symlink in /usr/lib/julia when using system openblas"
When using some system library, the build system generally adds a symlink from lib/julia, but that's not the case for libopenblas64_.so (which is hardcoded in OpenBLAS_jll). Only a libblas.so symlink is created.

[2021-03-26 08:14] rlrs commented on #36647
The interpolation is also not documented in the asynchronous programming manual: https://docs.julialang.org/en/v1/manual/asynchronous-programming/, it would be very nice to mention it.

[2021-03-26 08:36] porcaror opened #40204 "IJulia compilation problem in version 1.6"
I switched to Julia v. 1.6
When I tried to add IJulia I receive the following error:

 Installing known registries into `~/.julia`
       Added registry `General` to `~/.julia/registries/General`
   Resolving package versions...
   Installed IJulia ────────── v1.23.2
   Installed VersionParsing ── v1.2.0
   Installed libsodium_jll ─── v1.0.18+1
   Installed SoftGlobalScope ─ v1.1.0
   Installed Co

[2021-03-26 08:40] KristofferC commented on #39976
@staticfloat Is there anything that should be done here? If the `libm` version is so much faster, does it make sense to use it intentionally?

[2021-03-26 08:45] KristofferC commented on #40197
You need to use `global` if you want to reassign a global variable. See https://docs.julialang.org/en/v1/manual/variables-and-scoping/#On-Soft-Scope. Also, note that warning:

[code]

Pasting this in the REPL will work though (see the discussion in the manual about it).

[2021-03-26 08:48] KristofferC commented on #40192
So to be clear, the point is that e.g the unqualified `@code_warntype` will stop working in the REPL because the `using` statement will not be run?

[2021-03-26 08:50] Nathan-Furnal commented on #40204
I had the same problem, it seems to come from `MbdedTLS` which calls `MbedTLS_jll` where I get :

``julia
nitError: could not load library "libmbedcrypto.so.5"
libmbedcrypto.so.5: Can't open shared object file: No such file or directory
Stacktrace:
 [1] __init__()
   @ MbedTLS_jll /usr/share/julia/stdlib/v1.6/MbedTLS_jll/src/MbedTLS_jll.jl:40
during initialization of module MbedTLS_jll
[code]

[2021-03-26 08:52] KristofferC commented on #40191
Does it replicate on v1.6.0?

[2021-03-26 08:54] KristofferC commented on #40185
I think https://github.com/JuliaLang/Pkg.jl/pull/2356 might have broken our "trick" to make Pkg think a registry is installed so it doesn't pull in the default one.

[2021-03-26 09:01] KristofferC commented on #40204
How was Julia installed?

[2021-03-26 09:02] porcaror commented on #40204
I installed it in EndeavourOS

On Fri, Mar 26, 2021 at 10:01 AM Kristoffer Carlsson <
***@***.***> wrote:

--
*Everything is numbers. Math is everywhe**re. *

*The only way to learn mathematics is to do mathematics.*

*Difficult roads often lead to beautiful destinations.*

*Il **livello di cultura matematica misura il progresso s**cientifico e**
tecnologico di un paese.*
*Math: illuminating ideas

[2021-03-26 09:08] KristofferC commented on #40204
Yes but how? Did you download it from https://julialang.org/downloads/?

[2021-03-26 09:17] Nathan-Furnal commented on #40204
I have the same issue when using an Arch based distro as well, I suppose it is from Arch, using `pacman`.

[2021-03-26 09:17] saolof opened #40206 "UpperTriangular and LowerTriangular multiplication gives wrong result for triangular tropical matrices"
For example, taking the tropical matrix t = [1 0; ∞ 0], then t^2 = [2 0; ∞ 0], but UpperTriangular(t)^2 = [0 0; .  0]

So it looks like there is some bizarre behaviour here and it is adding (taking min with) a zero to the two somewhere.

[2021-03-26 09:17] storopoli commented on #36617
@awadell1 I think that the only way to build Julia in ARM is to use the master branch from the repository

[2021-03-26 09:25] #40171 closed

[2021-03-26 09:29] #14896 closed

[2021-03-26 09:34] saolof commented on #40206
In particular, adding a zero method to the tropical numbers implementation that returns the additive unit (+infinity for min numbers) fixes this.

But it does highlight that the Triangular matrix multiplication does explicitly call zero(...) for the lower diagonal numbers, instead of doing the right thing which would be to simply skip them.

[2021-03-26 09:48] sethaxen opened #40207 "Use blocked Schur algorithm for matrix square root"
For large matrices, the matrix square root is quite slow due to the cost of the Schur decomposition and of the (quasi)-triangular matrix square root. To speed up the latter part, the blocked Schur algorithm was developed:
- Deadman E., Higham N.J., Ralha R. (2013) Blocked Schur Algorithms for Computing the Matrix Square Root. In: Applied Parallel and Scientific Computing. PARA 2012. Lecture Notes

[2021-03-26 09:54] porcaror commented on #40204
Exactly. I used pacman -Sy julia.

On Fri, Mar 26, 2021 at 10:17 AM Nathan Furnal ***@***.***>
wrote:

--
*Everything is numbers. Math is everywhe**re. *

*The only way to learn mathematics is to do mathematics.*

*Difficult roads often lead to beautiful destinations.*

*Il **livello di cultura matematica misura il progresso s**cientifico e**
tecnologico di un paese.*
*Math: illuminating ideas tha

[2021-03-26 09:57] porcaror commented on #40204
While I was writing this e-mail I try to update the package installed. I
found that there is a new version of the julia package. After installing
it, I tried to install the package IJulia. And now it works: no more errors.
I suppose that the problem is solved.
Thanks for your help and support.
Roberto

On Fri, Mar 26, 2021 at 10:54 AM Roberto Porcaro ***@***.***>
wrote:

--
*Everything is numbers.

[2021-03-26 10:02] #40204 closed

[2021-03-26 10:02] KristofferC commented on #40204
(dup of https://github.com/JuliaLang/julia/issues/40198 as well I think)=

[2021-03-26 10:06] kaandocal commented on #40191
I haven't been able to replicate it on v1.6.0, or on another machine using Ubuntu 18.04...

[2021-03-26 10:31] banx commented on #40197
What's bothering me in this approach is that it increases ambiguity instead of readability.
Why would the interpreter fires *only* a warning when the function definition is absent, whereas it raises an error when it is present, knowing that it didn't interact with the outer variable at all? Shouldn't it be more consistent?
Moreover, the use of the `local` and `global` keyword will turn pointless w

[2021-03-26 10:35] KristofferC commented on #40197
I get an error if the function definition is there or not.

[2021-03-26 10:42] banx commented on #40197
Sorry, I should've mentioned earlier that I was trying this code in **Pluto**. I get an error there when the function is defined, but no error when it is absent!

[2021-03-26 11:01] KristofferC commented on #40197
Well, in the Julia REPL I get no error and when I put it in a file I get an error no matter if `y` is there or not. If Pluto does differently then it does indeed look like an issue there.

[2021-03-26 11:13] carstenbauer opened #40210 "Type inference hangs indefinitely"
A user of my package [BinningAnalysis.jl](https://github.com/crstnbr/BinningAnalysis.jl) approached me yesterday with the following peace of code.
[code]

His observation (which I can reproduce on both Julia 1.5 and 1.6) was that `run!(s)` takes forever / hangs indefinitely. To investigate the issue I tried `@code_warntype run!(s)` which also hung indefinitely. Just by inspection, I realised that

[2021-03-26 11:24] banx commented on #40197
I [opened this issue](https://github.com/fonsp/Pluto.jl/issues/1031) in [Pluto.jl](https://github.com/fonsp/Pluto.jl)
Would you help me understand the rationale behind the different outcomes between the REPL, and having the code in a separate file?

[2021-03-26 11:29] KristofferC commented on #40197
See the end of the section here https://docs.julialang.org/en/v1/manual/variables-and-scoping/#On-Soft-Scope

[2021-03-26 11:30] KristofferC commented on #40197
I will close this since it no longer seems to be about a Julia issue. Further discussion of Julia's scope rules can be had at https://discourse.julialang.org/.

[2021-03-26 11:30] #40197 closed

[2021-03-26 12:02] KristofferC commented on #40210
The actual subtype query that hangs:

[code]

[2021-03-26 12:03] stevengj commented on #39976
We just need @oscardssmith to write a Julia-native `pow` 😉

[2021-03-26 13:08] vchuravy commented on #40151
Switching to Float16 was a joint effort with @maleadt

Can you post the `code_llvm` on A64fx?

[2021-03-26 13:39] oscardssmith commented on #39976
I'll see what I can do. 2 argument functions are about 1000x harder to verify though so it might take a bit.

[2021-03-26 13:58] schneiderfelipe opened #40211 "MethodError: no method matching SymTridiagonal(::Array{Irrational{:π},1}, ::Array{Float64,1})"
`SymTridiagonal` does not accept `Array{Irrational{:π},1}`:

[code]

(EDIT: Found while testing for #40194.)

[2021-03-26 14:11] KristofferC opened #40212 "NetworkOptions.jl should probably be in the manual"
https://github.com/JuliaLang/NetworkOptions.jl is a new standard library that has a bunch of user-facing options so it should probably be in the manual. It would require it to get a Documenter.jl documentation so it gets picked up by the documentation system.

[2021-03-26 14:14] KristofferC commented on #40212
https://github.com/JuliaLang/julia/issues/38462

[2021-03-26 14:14] #40212 closed

[2021-03-26 14:18] yuyichao commented on #40201
This is what @staticfloat [claims that](https://github.com/JuliaLang/julia/pull/37832)

I'm looking forward to when that statement is changed.

[2021-03-26 14:52] RibeiroAndre opened #40213 "LinearAlgebra ldiv not working on MArrays"
[code]

Julia Version 1.5.3
Commit 788b2c77c1 (2020-11-09 13:37 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) W-2255 CPU @ 3.70GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-9.0.1 (ORCJIT, cascadelake)

[2021-03-26 15:22] jishnub commented on #37917
I think the docstring is also wrong here, and it should evaluate to `reduce(op, map(f, A...); dims=dims, init=init)`

[2021-03-26 15:28] ninjin commented on #40185
Encountered the same issue with Nix and it was addressed by adding `cacert` as a build input.

[2021-03-26 15:47] oscardssmith commented on #39976
The first thing I would need for this is someone to do the gpl dance with me on https://github.com/JuliaMath/openlibm/blob/master/src/e_pow.c (DO NOT OPEN IF YOU DON"T WANT THE GPL TO CONTAMINATE YOU). Any volunteers?

[2021-03-26 15:55] Seelengrab commented on #39976
GPL dance as in clean-room implementor? I'd be up for it, provided there are no specific OS/system requirements (currently only Windows and/or WSL available here).

[2021-03-26 15:59] oscardssmith commented on #39976
Thanks so much! Can you DM me in slack or discord?

[2021-03-26 16:07] giordano commented on #39976
Why GPL?  Am I missing something or there is no GPL anywhere in that code?

[2021-03-26 16:10] vtjnash commented on #39976
yeah, did you mean to send a different link?
[code]

[2021-03-26 16:10] oscardssmith commented on #39976
Wait really? I thought openlibm was gpl? If not, then that makes this much easier.

[2021-03-26 16:14] nickrobinson251 opened #40215 "Ability to opt-out of `Precompiling...` info in REPL"
In v1.6, the repl will show output about precompilation
e.g.
[code]
and then
[code]

Usually this isn't info that is useful to me, and seeing it many times a day adds noise (as somone who works on lots of Julia projects, so often starts a REPL many times a day in many different package environments).

I'm wondering if there could be an easy way to opt-out of this info, e.g. by setting something in

[2021-03-26 16:22] giordano commented on #39976
Not at all.  Only a couple of test files are under LGPL (!= GPL), the rest has different more permissive licenses: https://github.com/JuliaMath/openlibm/blob/f052f42bb393918acd6fd51ec1f018c5679dfe30/LICENSE.md

[2021-03-26 16:24] stevengj commented on #40213
Looks like a lot of methods in `qr.jl` require `StridedVector` for some reason.  In particular, for a `Vector` we would use [this `ldiv!` method](https://github.com/JuliaLang/julia/blob/91c297b6c983aed2828600bcd9b8ba6494f747b6/stdlib/LinearAlgebra/src/qr.jl#L919-L922), which maybe could be generalized.

[2021-03-26 16:27] eirikbrandsaas commented on #39976
This bites in many applications in economics, where power utility (`x^a`) is very frequently used (e.g., https://discourse.julialang.org/t/julia-1-6-versus-1-5-4/57993).

FWIW this also bites with negative integer powers:
[code]
vs
[code]

[2021-03-26 16:38] felipenoris commented on #40200
I couldn't reproduce this on macOS 10.14.6 (Mojave).

[2021-03-26 16:39] nico202 commented on #40185
OT: @ninjin
Have you encountered errors like this:
[code]

when running the built julia? I could fix this by wrapping the binary with LD_LIBRARY_PATH, but I guess it would be better to set the proper RPATH at build time

[2021-03-26 17:00] milankl opened #40216 "Hardware Float16 on A64fx"
On arm's A64fx (i.e. aarch64) the official release (Julia 1.6) converts Float16s to Float32 for arithmetics, although A64fx natively supports Float16
[code]
So @vchuravy suggest to comment out https://github.com/JuliaLang/julia/blob/91c297b6c983aed2828600bcd9b8ba6494f747b6/src/aotcompile.cpp#L622-L623
and build 1.6 from source. This worked fine, and now Float16s are not converted
[code]
and give a

[2021-03-26 17:01] staticfloat commented on #40201
@antonio-rojas can you show me the output of the following?  You can clear everything out with `git clean -fdx` first, and then run the commands to reduce variation from outside things:

[code]

When running with `USE_SYSTEM_CSL=1` it should automatically discover your `libgcc_s.so.1` location and install it within the build prefix accordingly, so that this Julia installation can be made portable

[2021-03-26 17:09] goretkin commented on #40192
Yes, exactly. same with e.g. `@edit`, `@which`, etc. Thank you for clarifying.

[2021-03-26 17:11] milankl commented on #40216
`make testall` of this build yields 2 errors, however, they are not related to Float16, so @vchuravy suggested to include a check for A64fx architecture to address this automatically in the future

[code]

[2021-03-26 17:20] milankl commented on #40151
@vchuravy was right, official arm builds convert Float16 to Float32 for arithmetics. A solution is proposed in #40216. Nevertheless the subnormal issue persits:

Without subnormals
[code]

[2021-03-26 17:26] yuyichao commented on #40201
No, when building with system library it must not be copied.

[2021-03-26 17:48] antonio-rojas commented on #40201
[code]

[2021-03-26 17:50] staticfloat commented on #40201
Hmmm, so it looks like that library is indeed copied.  Can you show me the output of:

[code]

And can you test to see that the build does indeed fail with that error again?

[2021-03-26 17:57] vchuravy commented on #40151
Couple notes:
1. `set_zero_subnormals` is implemented here https://github.com/JuliaLang/julia/blob/514426d3fd2723c6ddfc33444bfc23891c55454d/src/processor_arm.cpp#L1833-L1839
2. Instead of manually changing the processor flag we should set the LLVM function attribute: `denormal-fp-math`, for that it would be great to have a generic function attribute interface like `Expr(:loopinfo)`.

[2021-03-26 17:59] antonio-rojas commented on #40201
When the build fails, those libraries are not in usr/lib, the full contents are:
[code]
so it doesn't look like `make -C deps install-cls` is being run.

[2021-03-26 18:00] staticfloat commented on #40201
Makefile bug then. If you run the install-csl step manually first, then run the rest of the build, does it go through?

[2021-03-26 18:02] antonio-rojas commented on #40201
Yes, simply symlinking `/usr/lib/libgcc_s.so.1` in `./usr/lib` is enough

[2021-03-26 18:10] staticfloat commented on #40201
This PR should fix the issue: https://github.com/JuliaLang/julia/pull/40217

We'll get that backported for a future 1.6.1 release, but if you don't want to wait that long, [the patch](https://github.com/JuliaLang/julia/pull/40217/files) is quite small and can be applied in build systems easily.

[2021-03-26 18:26] vtjnash commented on #33622
The comment in #33455 was simply wrong: it was a bug in the old algorithm–which was not the code in that comment–and ignore the claim to the contrary. This is fixed by #33477.

[2021-03-26 18:26] #33622 closed

[2021-03-26 18:26] antonio-rojas commented on #40201
Thanks, this does fix the build. However, runtime is still broken, because the libraries are not symlinked in the installed `/usr/lib/julia`, unlike all other used system libraries.
[code]

[2021-03-26 18:37] staticfloat commented on #40201
Sorry, I thought you meant it had gone through completely.

What precise steps have you taken?  When building locally on my machine, using the patch linked above, I am able to `make install` and run the resulting julia binary.  Did you do something different?

[2021-03-26 18:52] antonio-rojas commented on #40201
Essentially just a `make` and `make install`. You can see the full build script at https://github.com/archlinux/svntogit-community/blob/packages/julia/trunk/PKGBUILD - I just replaced the workaround at lines 38 and 108 with the patch.

[2021-03-26 18:57] milankl commented on #40151
I'd be happy to test if changing manually the processor flag actually flushes subnormals to zero on a64fx, but I don't know how to do this. So if someone posts this here, then I'd be happy to build julia on an a64fx and test it.

[2021-03-26 19:06] Deduction42 opened #40219 "Julia 1.6 odd behaviour on parametric types"
I defined a parametric type for myself
[code]
In Julia 1.5.4 and earlier, I could define ProcessStream{:T} to get symbol values of {:T}
[code]
This was useful in metaprogramming. Now in Julia 1.6.0 however, I'm getting
[code]
Is there any particular reason why this is happening? Is there another way that I'm supposed to generate expression pairs of an arbitrary ProcessStream that allow me to repla

[2021-03-26 19:43] staticfloat commented on #40201
I've got a new implementation that should symlink instead of copy on that PR.  Can you pull it and ensure that it works for you?

[2021-03-26 20:13] vchuravy commented on #40151
Looking at: https://developer.arm.com/documentation/100403/0201/register-descriptions/advanced-simd-and-floating-point-registers/aarch64-register-descriptions/fpcr--floating-point-control-register

There seems to be a second control register for fp16 flush to zero. PR incoming

[2021-03-26 20:17] bicycle1885 commented on #39108
@MasonProtter FYI, I'm now working on this feature at #40220. Feedback is welcomed.

[2021-03-26 20:20] wforbes-pde opened #40222 "[LLVM8] Illegal intoptr llbm assertion during `Plots.contour`"
I'm trying to use Plots.contour. I'm not entirely sure that my objects have the appropriate size/shape for contour.

x is Vector{Float64} with 513 elements
t is Vector{Float64} with 10001 elements
time_steps is 10001x513 Array{Float64,2}

[code]

[2021-03-26 20:21] vchuravy commented on #40222
@wforbes-pde What is your `versioninfo()`? From the output it seem like you might be running Julia 1.4?

[2021-03-26 20:26] wforbes-pde commented on #40222
It appears that I am. I vaguely recall some preferred method of installing Julia where it would be easier to update.

julia> versioninfo()
Julia Version 1.4.1
Platform Info:
  OS: Linux (x86_64-linux-gnu)
  CPU: Intel(R) Core(TM) i7-9700 CPU @ 3.00GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-8.0.1 (ORCJIT, skylake)
Environment:
  JULIA_EDITOR = atom  -a
  JULIA_NUM_THREADS = 8

[2021-03-26 20:29] Keno commented on #40222
Where did you get this copy of Julia? These kinds of issues tens to happen if somebody decided to ignore our LLVM patchset. Can you try an official release?

[2021-03-26 20:30] antonio-rojas commented on #40201
Still doesn't work. I see the symlink is created in `./usr/lib/julia`, but `make install` doesn't install it in DESTDIR

[2021-03-26 20:30] vchuravy commented on #40222
From the stacktrace I suspect it is: https://launchpad.net/ubuntu/+source/julia/1.4.1+dfsg-1

[2021-03-26 20:32] vchuravy commented on #40222
Duplicate of #37003 and https://bugs.launchpad.net/ubuntu/+source/julia/+bug/1891205

@wforbes-pde we recommend the official release at https://julialang.org/downloads/ to avoid these issues

[2021-03-26 20:32] #40222 closed

[2021-03-26 20:35] vchuravy commented on #40222
Yeah I checked their build recipe... `USE_SYSTEM_LLVM=1`

[2021-03-26 20:36] wforbes-pde commented on #40222
I ran

sudo apt-get install julia

[2021-03-26 20:43] vchuravy commented on #40222
Please comment on  https://bugs.launchpad.net/ubuntu/+source/julia/+bug/1891205 to let them know that you run into issues.

[2021-03-26 20:46] wforbes-pde commented on #40222
Sure. Thanks for the quick response.

[2021-03-26 20:55] antonio-rojas commented on #40201
With this additional change everything works
[code]

[2021-03-26 20:57] Deduction42 commented on #40219
So after digging through UnionAll types, it looks like you're supposed to put a TypeVar inside a parametric type to get back what you want. So going that route produces something I can work with
[code]
Since this isn't broken, I'm sure that this is probably more the intended route I should go. However, I'm not sure if the change in behavior I mentioned in the opening statement was a bugfix or some

[2021-03-26 21:22] PallHaraldsson commented on #39598
FYI: Actually 1.6.0 is faster up to 2 threads, just 1.5.1 keeps getting faster up to about 7 threads while 1.6 gets slower:

$ hyperfine '/home/pharaldsson_sym/julia-1.6.0/bin/julia --startup-file=no -t2 -O3 fasta.jl 25000000 > /dev/null'
Benchmark #1: /home/pharaldsson_sym/julia-1.6.0/bin/julia --startup-file=no -t2 -O3 fasta.jl 25000000 > /dev/null
  Time (mean ± σ):      2.326 s ±  0.050 s    [

[2021-03-26 21:27] nico202 commented on #35785
This still happens on v1.6.0

[2021-03-26 21:28] nico202 commented on #34655
Still happens on v1.6.0

[2021-03-26 21:39] nico202 opened #40224 "v1.6.0: TerminalMenus: failing test"
I get:
[code]

[2021-03-26 22:33] staticfloat commented on #40201
Good catch; I've adapted the patch and pushed to my branch.

[2021-03-27 00:31] bkamins opened #40226 "Improve docstring for convert"
The current docstring for `convert` states:

This statement is not true, as conversion `AbstractFloat` float to to `Rational` requires the conversion back to be exact, as the following check is performed:
[code]
so you have that the following throws an error:
[code]
so either:
1. the check should be removed

or

2. the docstring should be updated to reflect the behavior for `Rational` exactly. Thi

[2021-03-27 02:13] islent opened #40227 "Julia 1.6 Tree Hash Mismatch Error while installing new package on ubuntu 20.04"
While setting up a new 1.6 environment on ubuntu 20.04, some artifact could not be installed:
[code]

It stucks at 0.0%, so I pressed `ctrl+c` (or wait for long enough), and it turns out:
[code]

`Makie` has the same error, but with a different package. Thus I assume that it is related to `Pkg` itself:
[code]

System info:
[code]

[2021-03-27 02:40] islent commented on #40227
I found that it is related to `JULIA_DEPOT_PATH`. I change it into a new folder `/mnt/G/juliadeptest`, and it gives the same error:
[code]

Same error with `/mnt/G/linuxwork/.julia`

However, everything is fine with the default DEPOT path `~/.julia` and `~/.juliatest`

In the end, I realized that the default user group and owner of new folders in `/mnt/G` is `root`. `/mnt/G` is a SSD disk mounted

[2021-03-27 04:36] StefanKarpinski commented on #40193
Thank you for filing an issue with details. Sorry for the difficulty.

[2021-03-27 09:27] ninjin commented on #40185
@nico202 Not yet as I suspect you have gotten slightly further than me. This is probably not a good place for discussion, feel free to either drop me an e-mail or by all means join me in `#nix` over on the Julia Slack as I suspect there is plenty of knowledge/experience to be shared between Nix/Guix.

[2021-03-27 11:51] nickrobinson251 opened #40228 "Improve visibilty of line location in stacktrace e.g. Ability to override/disable muted colour in stacktraces"
Having updated to use the new Julia v1.6 release, i see that there's [improved stacktrace formatting](https://julialang.org/blog/2021/03/julia-1.6-highlights/#improved_stacktrace_formatting).

I really appreciate that Julia tries to make these kind of usability improvements! The colouring of modules, for example, is a really helpful addition for more easily seeing the source of errors.

I know tha

[2021-03-27 12:24] helgee commented on #37579
I have implemented a workaround for AstroTime.jl. See here: https://github.com/JuliaAstro/AstroTime.jl/pull/58/commits/7cf0ba45962e8c9921356d8149198fcb7e27eebe

It defines the following parser:

[code]

[2021-03-27 12:29] rryi opened #40229 "invokelatest fails with "world age" error when called from @generated function"
The following self-contained code sample demonstrates two failures of invokelatest. The scenario:

- precompile a @generated function. In sample: f1, precompiled by `using Main.M`
- create a new type and new methods of existing functions. In sample: macro @enum creates type MyEnum and typemax(::Type{MyEnum})
- use new type/methods, causing method compilation.  In sample: f0(MyEnum,e2)
- in @genera

[2021-03-27 12:37] nickrobinson251 commented on #40228
If we were open to tweaking the default printing, changing the underlined text to be printed in `:normal` would resolve this issue.

i.e. instead of
![image](https://user-images.githubusercontent.com/13448787/112720890-e4683400-8ef8-11eb-8d6e-d7da4eaf9770.png)

we could have
<img width="841" alt="Screenshot 2021-03-27 at 12 34 28" src="https://user-images.githubusercontent.com/13448787/112720900-e

[2021-03-27 13:39] JeffreySarnoff commented on #37579
Would you post a few examples of it doing what it does? (assume `using Dates, AstroTime` has been done). Thank you.

[2021-03-27 13:52] BenjaminGalliot opened #40231 "New bug (wrong behavior) in regex (script) properties in Julia 1.6"
Hello.

It seems the latest Julia release (nice job, by the way!) introduced a bug for regex properties, especially with scripts…

[code]
The Letter property works fine, but the script properties (like Han, Katakana, etc.) have a hard time mixed with Spaces property, contrary to the simple space character…

It seems it comes from Julia, not from PCRE2, because using directly [PCRE2](https://www.pc

[2021-03-27 14:49] vtjnash commented on #40229
I believe this is all documented (https://docs.julialang.org/en/v1/manual/metaprogramming/#Generated-functions). `@generated` (please code-quote so you don't ping users) is not allowed to call newer methods. Managing to do so is considered undefined behavior, and anything is permitted to happen if you attempt to do so.

[2021-03-27 14:49] #40229 closed

[2021-03-27 15:20] bkamins commented on #38931
bumping this issue. Just to show you a stack trace I got today:
[code]

[2021-03-27 15:59] nalimilan opened #40234 "`make USE_BINARYBUILDER_CSL=0` fails with static libraries"
To build software that requires recent compilers on Centos/RHEL 7, it is common to use the devtoolset. These are packages that provide newer toolchains, and that are only used at build time: since users are not supposed to install them to run the compiled executables, they only provide static libraries. It turns out that since Julia 1.6, this makes the build fail when `USE_BINARYBUILDER_CSL=0`, as

[2021-03-27 16:29] helgee commented on #37579
Sure!

AstroTime with this patch

[code]

vs. without

[code]

[2021-03-27 16:31] JeffreySarnoff commented on #37579
step 1 nicely done
do you want submillisecond resolution for TAI and other timebases?

[2021-03-27 20:09] rofinn opened #40237 "Breaking `relpath` change on Windows with Julia 1.6"
I realize I should have been testing on nightly to catch things like this earlier, but it looks like a breaking `relpath` change was introduced in Julia 1.6 for Windows. The following test now fails:

[code]
with
[code]

I'm guessing this was introduced by https://github.com/JuliaLang/julia/pull/38259 because the default `startpath` of `.` doesn't have a drive letter? I'm guessing we probably want

[2021-03-27 20:46] helgee commented on #37579
Yes. Very important for deep space navigation: https://github.com/JuliaAstro/AstroTime.jl/issues/28#issue-326825392
And I do hope that somebody will use the library for that purpose eventually 😅

[2021-03-27 20:50] helgee commented on #37579
Epochs/DateTimes in AstroTime.jl are represented like this:

[code]
ususally with `T == Float64`. Thus, I want to be able to parse all decimal places of the current second into `fraction`.

[2021-03-27 20:57] yygrechka opened #40238 "Confusing documentation for scope rules."
The documentation claims the following:

*A new local scope is introduced by most code blocks (see above table for a complete list). Some programming languages require explicitly declaring new variables before using them. Explicit declaration works in Julia too: in any local scope, writing local x declares a new local variable in that scope, regardless of whether there is already a variable named

[2021-03-27 22:33] mcabbott commented on #40228
Two points:
* Notice that the constructor `Dataframe` isn't printed in bold, in frames [5] and [6] of this example, that's a bug I think.
* Should the location printed by e.g. `@error "msg" 1+1` match more closely? At the moment it isn't underlined, perhaps it should be. And stack traces are changed, should its file name also be printed `:normal`?

[2021-03-27 22:52] Deduction42 opened #40241 "Inconsistent performance of macro inside struct"
I wrote a macro that enabled me to copy fields from another struct.
[code]
This worked, but when I restarted and deleted the last line, it produced the following error:
[code]
If I test the macro with macroexpand, I get the results I expect.
[code]
What's more perplexing is that if I copy and paste the macro expand results, it parses and works perfectly.
[code]
Did something happen to how struct d

[2021-03-27 23:28] nickrobinson251 commented on #40228
Would you mind opening another issue about the bold printing? You might be quite right, but I'd really prefer not to get into a discussion about the possible general aesthetics of the printing in this issue. I'd like if possible to find a way to work around the issue i now have of not being able to easily read info that i rely on for daily work (while appreciating that the new/current defaults mig

[2021-03-28 00:48] elbrook33 opened #40244 "rsplit error on empty strings"
Hi, in case it's unintentional, rsplit gives me an error for empty strings in 1.6, it used to give [""]. Thanks!

[2021-03-28 03:27] bicycle1885 commented on #40244
Hi, can you show us a minimal example?

[2021-03-28 11:19] Deduction42 commented on #40241
Never mind, it turns out the quoted expression had TypeVars where there should have been Symbols. I simply had to write Symbol.(X) where X was a potential list of TypeVars in order for the macro to work.

[2021-03-28 11:19] #40241 closed

[2021-03-28 13:08] rryi commented on #40229
I understand that there are restrictions on @generated and macro use, necessary to build an efficient implementation in julia Base. I can accept that my code sample shows no bug in @generated or invokelatest, but demonstrates intended restrictions.

But I do not agree on "this is all documented", details below. **Please consider to re-open this issue as a "documentation issue"**. I have put a sugg

[2021-03-28 14:12] rryi commented on #40229
I understand that there are restrictions on @generated and macro use, necessary to build an efficient implementation in julia Base. I can accept that my code sample shows no bug in @generated or invokelatest, but demonstrates intended restrictions.

But I do not totally agree on "this is all documented", details below. I think doc is misleading. **Please consider to re-open this issue as a "docume

[2021-03-28 15:11] Non-Contradiction opened #40246 "Segfault with jl_init__threading with julia 1.6 on macOS"
On macOS, if we load the julia 1.6 dynamical library and segfault will happen at the `jl_init__threading` function. The same segfault doesn't happen with julia 1.5.

For example, with julia 1.6 in R
[code]
which causes the following segfault:

 *** caught segfault ***
address 0xfffffffffffffff8, cause 'memory not mapped'

Traceback:
 1: .C("jl_init__threading")

Possible actions:
1: abort (with co

[2021-03-28 16:08] TheCedarPrince commented on #40246
I can confirm this being an issue on Mac OS as I had the same error occur.

[2021-03-28 21:06] 00vareladavid opened #40247 "Tab completion can't always determine field names"
Tab completion fails to infer field names:
[code]

But it has no trouble when broken down in two steps:
[code]

<details>
<summary>Stack trace</summary>
[code]
</details>

[2021-03-28 21:26] lkapelevich opened #40248 "Define dot between UniformScaling and Matrix"
[code]
I guess it would make sense for this use `U.λ * tr(A)`

[2021-03-28 22:09] Keno commented on #40248
That seems right given our usual generic definition for arrays (https://github.com/JuliaLang/julia/blob/ae3a3cc570a7c48603becb3a28edf1cc465884ce/stdlib/LinearAlgebra/src/generic.jl#L906) and our treatment of `UnifromScaling` as an indefinite-dimension array. Submit a PR?

[2021-03-28 22:15] atbug opened #40249 "Cannot reshape a SharedArray in a remote process in Julia 1.6"
To reproduce:
[code]

The error is
[code]

Julia version:
[code]

This issue is not happening on julia 1.5.4.

[2021-03-28 22:20] atbug commented on #40249
Might be a duplicate of https://github.com/JuliaLang/julia/issues/26539, but at least it is a regression now.

[2021-03-28 23:19] #26513 closed

[2021-03-28 23:20] #33986 closed

[2021-03-28 23:21] vtjnash commented on #40247
Probably a duplicate of https://github.com/JuliaLang/julia/issues/27184 and others

[2021-03-29 01:14] elbrook33 commented on #40244
It only seems to happen when the separator is at least 2.

a = ""
rsplit(a, "1")
1-element Vector{SubString{String}}:
""
rsplit(a, "12")
ERROR: BoundsError: attempt to access 0-element Vector{UInt8} at index
[0]
Stacktrace:
[1] _rsearchindex(s::Vector{UInt8}, t::Vector{UInt8}, _k::Int64)
@ Base ./strings/search.jl:461
[2] _rsearchindex(s::String, t::String, i::Int64)
@ Base ./strings/search.jl:446

[2021-03-29 08:36] KristofferC commented on #38462
Bump. With all the recent problems with package/artifact downloads, it would be useful to have e.g. NetworkOptions.jl in the manual so that it can be cross-referenced from e.g. the Pkg documentation. @StefanKarpinski

[2021-03-29 15:20] miguelraz opened #40255 "IP parsing security audit"
[npm was recently attacked](https://sick.codes/universal-netmask-npm-package-used-by-270000-projects-vulnerable-to-octal-input-data-server-side-request-forgery-remote-file-inclusion-local-file-inclusion-and-more-cve-2021-28918/) by passing in octal numbers to their IVP4 spec, which could reroute local connections to exterior connections and vice versa.

This is known is security terms as "bad".

T

[2021-03-29 15:34] StefanKarpinski commented on #40255
(Wrong Stefan K 😄 btw)

The todo here is to audit [all the weird ways to format IP addresses](https://blog.dave.tf/post/ip-addr-parsing/) and make sure that we error on the ones that we don't support. Arguably, erroring on weird potentially ambiguous formats is better for security than correctly parsing all possible formats, since the danger here is that Julia interprets a host name or IP address

[2021-03-29 15:50] dmbates commented on #40048
I was able to trigger a similar StackOverflowError in another part of our test suite. Here is a simpler example
[code]

[2021-03-29 15:58] cmcaine commented on #40255
Copying my message from slack:

parse(IPv4, str) will error if str contains leading zeroes in any of the fields.

https://github.com/JuliaLang/julia/blob/f9720dc2ebd6cd9e3086365f281e62506444ef37/stdlib/Sockets/src/IPAddr.jl#L175-L202

This isn't how browsers understand IP addresses, but it is safe.

The parser also happily accepts a single big number or class A or B addresses like 127.1, which we

[2021-03-29 16:49] vchuravy commented on #40216
After chatting with @maleadt today the necessary steps are likely:

1. Check in `demote-float16` pass if the JIT target support Float16
2. Add support in multi-versioning for splitting functions based on the presence of Float16 operations.

@yuyichao Should one add a new `JL_TARGET_CLONE_FLOAT16`? Or is piggybacking on `JL_TARGET_CLONE_MATH` okay?

[2021-03-29 17:10] StefanKarpinski commented on #40255
@cmcaine, you willing to take the lead on this? Sounds like you're already 95% of the way there and a PR to fix a few corner cases would finish things up. I'm willing to bet that we can just stop supporting IP formats like 127.1 although since they are necessary for IPv6 maybe we should continue to support them?

[2021-03-29 18:30] yuyichao commented on #40216
The cloning flag is a pretty rough heuristic mainly because it's hard to model what can be better optimized exactly and not because I didn't want to be more accurate......

In this case, I think it's fairly easy to detect the usage accurately so having a separate cloning flag should be fine. `fp16fml` and `fullfp16` should probably trigger this condition.

On a related note both ARM and x86 now ha

[2021-03-29 18:48] cmcaine commented on #40255
Pushed a PR that bans class A IP addresses. The code already rejected empty strings, I just misread that.

I haven't yet made ipv6 addresses with embedded ipv4 addresses an error, just thought I'd get some opinions on this first.

[2021-03-29 19:15] #38912 closed

[2021-03-29 19:20] NHDaly opened #40258 "1.6 bug: nested string interpolation is broken"
Hello. :) I believe we have encountered a bug in the 1.6 release: nested string interpolation appears to be broken.

Consider this simple example:
[code]

Where the inner nested string is dropped. Compare this with the prior release which produces the correct answer:
[code]

I am running on macOS:
[code]

------------------------------------

In case this is relevant, we came across this when a ma

[2021-03-29 19:20] NHDaly commented on #40258
And just to confirm, the above is all true on `master` as well:
[code]

[2021-03-29 19:37] NHDaly commented on #40258
FWIW I'm not sure if this is indeed related to the `parser`, since it seems to parse correctly, and rather it fails during the `eval`:

[code]

[2021-03-29 19:39] NHDaly commented on #40258
Although I take that back, since it parses _differently_ on 1.5, so the parser might indeed be the problem:
[code]

[2021-03-29 19:39] KristofferC commented on #40258
It is completel gone after lowering:

[code]

[2021-03-29 19:50] KristofferC commented on #38073
Seems like this caused a similar problem in https://discourse.julialang.org/t/drop-of-performances-with-julia-1-6-0-for-interpolationkernels/58085/16  as was fixed in https://github.com/JuliaLang/julia/pull/39333.

https://discourse.julialang.org/t/drop-of-performances-with-julia-1-6-0-for-interpolationkernels/58085/12 has an MWE.

Adding `@inbouds @simd` outside the Cartesian loop seems to work a

[2021-03-29 19:51] timholy opened #40260 "Eigen fails for real-symmetric matrix"
[code]

[code]
It fails during the [second iteration](https://github.com/JuliaLang/julia/blob/6e4ea5bd922b2ef0549751d991a9efd27ae41dfa/stdlib/LinearAlgebra/src/lapack.jl#L5258-L5283), but I've not looked more deeply than that.

[2021-03-29 20:02] StefanKarpinski commented on #40255
IIRC @keno originally wrote this code (kudos for already having made most of the dangerous things an error); he may have some opinions.

[2021-03-29 20:14] StefanKarpinski commented on #40229
There's a certain irony to pinging someone by reposting the request to quote your code so as not to ping that person. To be crystal clear about this: on GitHub you can use backticks (``` ` ```) to quote something as code. Otherwise the `@username` syntax pings the person with that user name, bringing them into a conversation that they likely don't care about. In this case, you have pinged `@genera

[2021-03-29 20:15] Keno commented on #40255
See https://github.com/JuliaLang/julia/issues/9187 for prior discussion. We considered removing the non-quad form entirely but never fully went that way. I'd be in favor, but we have to decide if it's breaking. Also, the original npm issue seems mostly due to treating ip addresses as quads of strings, which they are decidedly not.

[2021-03-29 21:01] rryi commented on #40229
Sorry, I did misunderstand what vtjnash meant by "code quote", and did not realize that `generated` might be a valid user name.

Thanks for your clear explanation. It's really helpful, I still have to learn a lot about manners of communication in the open source communities.

[2021-03-29 21:17] kimikage commented on #38073
IIRC, this might have something to do with https://github.com/JuliaLang/julia/issues/39700#issuecomment-781030776

However, I have no knowledge about the countermeasures on the compiler side.

[2021-03-29 22:01] cmcaine commented on #40255
Yeah I don't think Julia code using the IPv4 type is vulnerable to that class of error because you would parse the value to an integer and then use it, whereas the JS code is validating strings.

[2021-03-30 00:58] TradeInJulia commented on #32378
[code]
using
[code]

throws
[code]

[2021-03-30 01:10] bicycle1885 commented on #40244
Thank you. I can reproduce the problem now.

Julia 1.5.4:
[code]

Julia 1.6.0:
[code]

[2021-03-30 02:13] rmcsqrd commented on #33691
Did the PR with additional instructions ever get submitted? I am having issues with `] build MKL` on maxOS 10.15.7. Julia version info:

[code]

The error I get is:

[code]
Thanks.

[2021-03-30 02:47] ViralBShah commented on #39877
Is this on Julia master or the release-1.6 branch?

[2021-03-30 02:55] StefanKarpinski commented on #40238
In other words, If an assignment to a variable occurs in a local scope and there is no variable with that name visible in that scope, then the variable is implicitly declared as a new local in that scope. This is always true. In all of your examples, there is an existing local that is visible from an outer scope, so the antecedent doesn't apply.

It doesn't matter which one, the rule applies eithe

[2021-03-30 03:06] sethaxen commented on #40206
I don't see the described behavior:

[code]

[2021-03-30 03:18] yygrechka commented on #40238
Yes, I looked at the sum_to example as well after the discourse discussion; I agree that having an inner function would be more helpful.

*It doesn't matter which one, the rule applies either way: if x is a local variable in this scope, then that binding is updated; if it is an existing local in some containing local scope, then that outer binding is updated.*

It matters what ***Existing local***

[2021-03-30 04:05] ViralBShah commented on #39612
Note that this will only really pick ILP64 for openblas (which we are already doing in Yggdrasil now). Currently, the `-m64` flag only gets passed on `x86_64`: https://github.com/JuliaLang/julia/blob/6fe0827ba48a135caa5bc32308aa7e1ffb43486e/Make.inc#L950

Do we want it on `aarch64` and `ppc64le`?

[2021-03-30 05:43] jaakkor2 commented on #40260
Issue on Linux, seems to work on Mac and Windows
[code]

[2021-03-30 06:22] StefanKarpinski commented on #40238
No, that's not the case. You can completely ignore hard/soft scope unless you're in the REPL or trying to shadow a global variable with the same name as a local variable. It does not matter whether the existing local is in this scope or an enclosing one, if it exists it is assigned to. Period, end of story.

Comments on the edit suggestions...

This edit is incorrect: if the `local` keyword is omi

[2021-03-30 09:08] fingolfin commented on #40070
But the change to "allow unicode modifiers after ' " introduced in PR #37247 is still in place. Are the further uses for this anyone has in mind?

[2021-03-30 09:09] Arkoniak commented on #38730
I guess I am the only one, who was hit by this bug and others are happy with the current situation. No need to keep it open.

[2021-03-30 09:45] dkarrasch commented on #40260
Fails for me on Mac with the same error as in the OP on Julia v1.0 and v1.6.

[2021-03-30 09:59] jaakkor2 commented on #40260
My old Mac is running 10.11.6 OS X El Capitan, and `eigen` worked.
[code]

[2021-03-30 09:59] fredrikekre opened #40267 "Multiarg `eachindex` slower on 1.6"
[code]

1.6.0:
[code]
1.5.4:
[code]

[2021-03-30 10:20] saolof commented on #40206
You're multiplying matrices of floats, not tropical numbers. The bug appeared with matrices of numbers using SimpleTropical.jl before the latest patch to add a zero method, or if you make a matrix of max-min lattice numbers, etc etc.

[2021-03-30 11:00] mauro3 commented on #38730
No, I'm impacted by this too.  And others too:
https://discourse.julialang.org/t/solarized-dark-theme-with-1-6-0

I find it unfortunate that a very popular color-theme (and other themes too, I use https://github.com/dexpota/kitty-themes/blob/master/themes/3024_Night.conf and in emacs zenburn https://github.com/bbatsov/zenburn-emacs, both sharing this issue) has to be modified to work well with sto

[2021-03-30 11:15] heliosdrm commented on #40238
I have the feeling that the confusion might be caused by the very first statement of the paragraph: "A new local scope is introduced by most code blocks". That "new local scope" might be understood as a local scope disconnected from the outer one, such that it does not matter if `x` was already a local outside that new scope. Might it be clearer if it extended as follows?

The last sentence is not

[2021-03-30 12:19] #37232 closed

[2021-03-30 12:41] yygrechka commented on #40238
Yes, I like the edit that @heliosdrm proposes. That would make things clear.

[2021-03-30 12:44] #39612 closed

[2021-03-30 13:10] vtjnash commented on #38730
Solarized is a low-contrast color scheme, designed to minimize the visibility of these elements (using hue more heavily than brightness to distinguish them). It is a nice theme, but opinionated. If you don't want a low-contrast, this may not be the right theme.

[2021-03-30 13:12] vtjnash commented on #38730
(Note, the goal of zenburn is the same: to have the lowest legible contrast. I don't know about Night.)

[2021-03-30 14:00] faisal-easi commented on #32227
why this issue is closed without proper answers? what was the solution of this problem

[2021-03-30 15:03] mcabbott commented on #38730
iTerm2 has a handy "Minimum Contrast" slider for fixing themes, do other terminals have this?

I wondered for a bit whether the logic of making `:light_black` match the background was that `:black` was going to be visible, but in fact it seems to be slightly *lighter* (before being fixed by the slider)

<img width="500" alt="Screenshot 2021-03-30 at 10 50 31" src="https://user-images.githubusercon

[2021-03-30 15:29] vtjnash commented on #36976
Fixed by https://github.com/JuliaLang/julia/pull/39216 (for v1.6.1 and master)

[2021-03-30 15:29] #36976 closed

[2021-03-30 15:31] Jejulia opened #40270 "Mutiple matches on string"
Currently, `match` using regular expression only returns the first match. Although there's `eachmatch`, the elements are of type `RegexMatch`. To get the matched strings, we need to call `.match` additionally. This is kind of redundant and causes a little performance problem.

For example:
A string `s = "234ghkh566ghh"`.
Both `[i.match for i in eachmatch(r"\d+", s)]` and `filter!(!isempty, split(r

[2021-03-30 15:59] saolof commented on #40070
Honest question: what did `.'`  actually do?

[2021-03-30 17:24] #30612 closed

[2021-03-30 17:26] vtjnash commented on #39235
This would fix https://github.com/JuliaLang/julia/issues/39235

[2021-03-30 17:29] vtjnash commented on #28336
Removing `@inline` now makes it substantially faster. Which is often what we observe in the wild: `@inline` often makes your code slow.

[2021-03-30 17:33] ararslan commented on #39235
In fact, this _is_ #39235.

[2021-03-30 17:35] #12441 closed

[2021-03-30 17:36] simeonschaub commented on #39235
ERROR: StackOverflowError:
Stacktrace:
 [1] goto(::#39235) (repeats 79984 times)
   @ Main ./REPL[5]:1

[2021-03-30 17:37] vtjnash commented on #8087
There's now techniques used in Base to address this, and other issues open for further improvements (e.g. https://github.com/JuliaLang/julia/issues/19658):
[code]

[2021-03-30 17:57] sethaxen commented on #40206
Can you give a complete minimal failing example then? It is not clear to me how `UpperTriangular` multiplication is broken. e.g. your `t` matrix is lower triangular, not upper triangular, so why is it surprising that `t^2` and `UpperTriangular(t)^2` give different answers?

[2021-03-30 18:00] pablosanjose commented on #40260
This reminds me of https://github.com/Reference-LAPACK/lapack/issues/475. That was also CPU dependent, and rather unpredictable.

The issue there was for a badly broken iteration procedure in the generalized `eigen(A, B)` methods (or `schur(A, B)`, ultimately). Iit got fixed upstream, but only for the generalized case. Maybe the standard case also suffers from something similar?

[2021-03-30 19:20] pablosanjose commented on #40260
By the way, much like in Reference-LAPACK/lapack#475, this fails with OpenBLAS for me, but does not fail when using Julia 1.5.3 + MKL.jl

[2021-03-30 19:35] Arkoniak commented on #38730
Not all terminals have such setting.

xfce-terminal do not have it (http://manpages.ubuntu.com/manpages/xenial/man1/xfce4-terminal.1.html)
rxvt do not have it (https://linux.die.net/man/1/urxvt)
st do not have it (https://st.suckless.org/)

[2021-03-30 19:53] simonbyrne commented on #40231
This might be fixed by backporting #39310, which upgraded PCRE from 10.35 (used on 1.6) to 10.36 (used on master)?

[2021-03-30 20:06] BenjaminGalliot commented on #40231
These numbers (3 and 7) seem to be the last code units of the matches (these kanas are 3 code units each).

[code]
If in Julia 1.5 and 1.7 it shows 7 (last code unit of the full string), it confirms it works (one match), but in Julia 1.6, it shows 3, which is the last code unit of the first character (it is the first match of the string), it also confirms it is wrong…

I don’t know if upgrading to

[2021-03-30 20:07] KristofferC commented on #40267
Looks like there is a gc frame in 1.6 that wasn't there before. Shouldn't be too bad to bisect.

[2021-03-30 20:16] KristofferC commented on #40231
A bisect would probably pinpoint this if someone is up for it.

[2021-03-30 20:19] simonbyrne commented on #40231
Backporting #39310 does fix the issue: i'll tag it for the next patch release. Not sure why it doesn't show up in the PCRE REPL: it might be a bug in the C API?

[2021-03-30 20:20] rgobbel commented on #39877
After doing:

[code]

v1.6.0 now builds without errors. Julia master (after the same thorough pre-build clean) now fails in a different way than described above:

[code]

I've tried this with GCC versions 7 and 8, both with the same result.

Happy to try any other suggested environment changes.

[2021-03-30 20:23] vtjnash commented on #39235
Of course, that is why it would fix it. Oh, and additionally, it would fix https://github.com/JuliaLang/julia/issues/29275.

[2021-03-30 20:46] StefanKarpinski commented on #40229
No problem! I figured it was unclear — glad the explanation helps 😺

Regarding the original issue, I think the missing piece is that while `invokelatest` itself is from an older world age, you are not allowed to do that in a generated function because `invokelatest` calls functions with newer world ages. It might be good to clarify this in the docs though.

[2021-03-30 21:16] vtjnash commented on #40229
This is where the misunderstanding happened. The documentation uses the vague terms "guaranteed," but fails to mention this is formally a happens-before edge, and doesn't prevent MethodError in every situation. The "guarantee" was upheld, since the generator runs in a context that does not have happens-before edges (this is what the the generated function documentation tries to explain), so the "l

[2021-03-30 21:23] ViralBShah commented on #39877
Perhaps worth pinging @vchuravy

[2021-03-30 21:29] KristofferC commented on #40267
Not very unexpected:

[2021-03-30 21:49] nickrobinson251 commented on #40228
Related: https://github.com/JuliaLang/julia/issues/38730

[2021-03-30 22:27] simeonschaub opened #40272 "add bitwise nand and nor functions"
See https://discourse.julialang.org/t/why-no-nand-nor-nor-in-bitwise-operators/

I think those would make sense in base, probably with the operators `⊼` and `⊽` as aliases. We might also want to allow tab completing them as `\nand` and `\nor`, since it took me a while to figure out these are actually written as `\barwedge` and `\barvee`.

[2021-03-30 22:38] ViralBShah commented on #39612
`-m64` is not accepted by GCC on arm. So nothing else to be done here.

[2021-03-30 22:42] ViralBShah commented on #39877
I just tried on an aarch64 box, and master builds fine. Of course, not all arms are the same, but it would be helpful to get some more information here.

[2021-03-30 22:42] #30362 closed

[2021-03-30 23:51] rgobbel commented on #39877
I'm doing this on an NVIDIA AGX Xavier:

[code]

[code]

Apparently because of the way that NVIDIA chose to deal with the Linux kernel device tree, this system is stuck at Ubuntu 18.04, with kernel 4.9.201-tegra. I have another AGX Xavier that I'm going to try to update, after which I can try the build with an up-to-date kernel.

I tried splitting up the loading of the Pkg commands (initialize `co

[2021-03-31 01:03] andyferris commented on #40070
Transpose, like MATLAB.

[2021-03-31 01:09] vtjnash commented on #38045
I think we should just close. We need more significant changes to improve/fix this than this difference represents. But good to have this observation of timing. This is probably something we should track in BaseBenchmarks instead.

[2021-03-31 01:09] #38045 closed

[2021-03-31 01:10] vtjnash commented on #38947
We'll continue working on the performance substantially, but let's call this closed by #39153 for now

[2021-03-31 01:10] #38947 closed

[2021-03-31 01:18] vtjnash commented on #38723
I think we've addressed this, incidentally:
[code]

[2021-03-31 01:32] vchuravy commented on #39877
Ok this looks like a two part issue:

1. The OpenBLAS issue looks like https://github.com/numpy/numpy/issues/18131 and might have been fixed by https://github.com/xianyi/OpenBLAS/pull/3060, we might want to selectively backport that.
[code]

2. The issue in LLVM looks odd. Can you run that through GDB and dump the instruction it is segfaulting on?
It is coming from https://github.com/gcc-mirror/gc

[2021-03-31 01:34] vchuravy commented on #39877
The only recent change to that file is https://github.com/gcc-mirror/gcc/commit/761e6bb9f7d2bd782d93e46baebade2eb1f7d16e, e.g. GCC 10.1/10.2

[2021-03-31 01:41] StefanKarpinski commented on #38462
This would be an easy issue for anyone to tackle.

[2021-03-31 01:42] StefanKarpinski commented on #4767
Maybe good to open two separate issues, one for each norm and spell out the API that should be implemented?

[2021-03-31 01:57] vtjnash commented on #39690
I think we've tended to see this happening due to an excess of `@inline` markers in the broadcast.jl file, tending to hurt performance here on average. But I don't know this specific case.

[2021-03-31 02:01] #39655 closed

[2021-03-31 02:02] vtjnash commented on #39655
Closed by #39695. I can't promise it works, since Jeff mentioned JLD doesn't support this, but the error in Base causing a segfault should at least be addressed.

[2021-03-31 02:16] vtjnash commented on #39425
From that observation, I suspect this is also due to an excess usage of `@inline` in broadcast.jl. We've observed that those may hurt performance more often than they help, so as a rough cut, we may just want to remove all of them to solve all these performance regressions, then slowly bring them back more carefully, if necessary.

[2021-03-31 02:16] ViralBShah commented on #39877
Maybe report it to NVIDIA if there was a way to, I suppose.

[2021-03-31 02:24] StefanKarpinski commented on #39942
We could have an `into::Bool = false` keyword argument that changes the behavior to expect a directory into which it will move the source file. `mv(src, dst, into=true)` would be equivalent to `mv(src, joinpath(dst, basename(src)))`.

[2021-03-31 02:26] anandijain commented on #39942
yeah i like that

[2021-03-31 05:13] #25523 closed

[2021-03-31 05:13] #28577 closed

[2021-03-31 05:13] #30892 closed

[2021-03-31 05:13] #36170 closed

[2021-03-31 07:30] emmt opened #40276 "Performance regression in vectorized loops"
When switching from Julia-1.5.4 to Julia-1.6.0, I had a performance regression (by a factor between 2 and 3) in loops involving functions that return a tuple of values.  My guess is that such loops stop being correctly vectorized (in spite of `@inbounds @simd`).  Below is a short example to demonstrate the problem:

[code]

Using `git bisect` I was able to figure out that the first Julia version s

[2021-03-31 07:37] emmt commented on #40276
Also see the discussion [here](https://discourse.julialang.org/t/drop-of-performances-with-julia-1-6-0-for-interpolationkernels/58085/19).

[2021-03-31 09:51] mzgubic opened #40277 "`reduce` type inference on 1.6"
On julia 1.5
[code]

On julia 1.6
[code]

[2021-03-31 10:10] pablosanjose opened #40279 "OpenBLAS 0.3.13 ex-shift patch not working"
There must have been some kind of problem with the upgrade to OpenBLAS 0.3.13 in #39216. That PR included a patch called `openblas-exshift.patch` intended to bring in the fix in https://github.com/xianyi/OpenBLAS/pull/3091 without having to wait for OpenBLAS 0.3.14, but it seems the patch does not work. I don't know why, but the following test, discussed in the original issue https://github.com/Re

[2021-03-31 10:31] mzgubic commented on #40277
Interestingly,
[code]

[2021-03-31 10:43] KristofferC commented on #40277
I'll try bisect it.

[2021-03-31 11:50] KristofferC commented on #40277
Bisection blames b4f2c6666cd, cc @dlfivefifty

[2021-03-31 13:32] BenjaminGalliot commented on #40231
I did not manage to do the `git bisect`, I am not used enough to this tool on a big project with many so branches…

I can just say that it seems the first beta of v1.6 (commit b84990e1acee72ea3c3b05487996f9bb8be0db2f, PR #39120) seemed to already have this bug. Same for the commit 9528ac2785f214cdc188a835deed3d93e0b012c6 (PR #38655).

[code]

And I just tried the C API and it also seems to work:

[2021-03-31 14:20] #40151 closed

[2021-03-31 14:28] racinmat commented on #39586
My 2 cents:
On windows 10:
[code]

Julia 1.5.4:
[code]

Julia 1.6.0:
[code]

[2021-03-31 15:38] vtjnash commented on #39673
tightening an inference result is always a feature, not a bug

[2021-03-31 15:44] sbromberger commented on #39673
I'm not convinced that this is a tightening, though. The code itself was inferring correctly in all our test cases in 1.5, and now it's not.

[2021-03-31 15:56] sbromberger commented on #39673
Give me a few minutes to run tests using a fresh copy of 1.6.0. Perhaps this was resolved somewhere along the way.

[2021-03-31 16:01] sbromberger commented on #39673
This problem is resolved in 1.6.0 - there are no inference errors reported anymore. This suggests to me that whatever was causing the inference errors was corrected or reverted. I'll go ahead and close this out.

[2021-03-31 16:01] #39673 closed

[2021-03-31 17:18] racinmat opened #40282 "Performance regression in many tests in Mill.jl"
In https://github.com/CTUAvastLab/Mill.jl many parts of codebase are slower after migrating to Julia 1.6.0.
Here are timings of running out tests in Julia `1.5`
[code]
and here they are in Julia 1.6.0
[code]
and while precompilation phase is much faster with Julia 1.6, overall, all tests take longer to finish.

Most notable differences are for example:
in 1.5 we have
[code]
and in 1.6 we have
[cod

[2021-03-31 17:30] KristofferC commented on #40282
It would be helpful to reduce this slightly. Are there specific functions that are identifiable as being slower? If you profile it, does anything stick out?

[2021-03-31 18:39] racinmat commented on #40282
I'll try to dig deeper to find out some MWEs.

[2021-03-31 18:51] StefanKarpinski commented on #15602
What is the issue preventing a more comprehensive error here? Do we just not know the precise conditions under which we should allow / disallow this kind of construct? What about disallowing method definitions for an inner function unless they are all in the same basic block?

[2021-03-31 18:59] jishnub opened #40283 "Allocation in iterating over a ProductIterator constructed using mixed iterator types"
[code]

Ideally this should not allocate. This does not allocate if the types of the iterators are identical

[code]

[2021-03-31 19:27] StefanKarpinski commented on #40139
FastFloats.jl? We'll really have painted ourselves into a corner — what kind of monster doesn't want fast floats?

[2021-03-31 20:30] KristofferC opened #40284 "What to do about the new `oneto` and `unitrange` methods"
In https://github.com/JuliaLang/julia/pull/37741, the constructors `OneTo` and `UnitRange` were replaced for the generic functions `oneto` and `unitrange` in various places. These functions only have one implementation in Base which is that they call their respective constructor. The reason for this seems to be so that the InfiniteArrays.jl package can overload these methods to "hook into" various

[2021-03-31 21:01] dlfivefifty commented on #40284
` unitrange ` can be removed with a bit of redesign. ` oneto ` is necessary to support InfiniteArrays.jl without having to do an illegal overload of ` OneTo ` .

The rational for adding it is exactly the same as adding the functionality that supported OffsetArrays.jl. And your argument for removal would also apply to removing all features that support OffsetArrays.jl, which are also not included i

[2021-03-31 21:05] dlfivefifty commented on #40284
Also, the addition of ` oneto ` should not have caused the issues with ` vcat `, rather the changes to concat.jl. Possibly the change to ` mapreduce ` instead of a for loop to determine the length. I’ll look into it

[2021-03-31 21:10] #40258 closed

[2021-03-31 22:04] StefanKarpinski commented on #38730
The only solution that's going to work for everyone is to name the color scheme themeable and let people design themes that work for their setups. We could ship a few and make it easy to choose between name themes.

[2021-03-31 22:12] goretkin commented on #39298
There's an edge case:

`fieldtypes(Tuple{Vararg{Any, N} where N})` doesn't give `(Vararg{Any, N} where N, )`

Is there a way to get a tuple of the types including in this instance?

[2021-03-31 22:17] StefanKarpinski commented on #40198
Have you tried editing the version and seeing if `libmbedcrypto.so.5` works?

[2021-03-31 22:19] StefanKarpinski commented on #40121
(Yes, except that in the multiline form the last one should also have a trailing comma :)

[2021-04-01 02:20] haozhangphd commented on #40198
I think you meant `libmbedcrypto.so.6`, as Julia currently has `libmbedcrypto.so.5`?

I tried `libmbedcrypto.so.6`, and it works perfectly.  Also Arch Linux has patched the the distro's Julia installation, and removed the hard-coding of library version numbers everywhere (https://github.com/archlinux/svntogit-community/blob/packages/julia/trunk/julia-hardcoded-libs.patch). So I think this change i

[2021-04-01 06:31] inet56 opened #40289 "Julia on Plan9"

[2021-04-01 06:52] DilumAluthge opened #40290 "`make docs` rebuilds the docs even if nothing has changed since the last time the docs were built"
Maybe related to #19539 and/or #19705.

If I run `make docs` and then immediately run `make docs` again, it rebuilds the docs. Is this the intended behavior? It would be nice if running `make docs` didn't rebuild the docs if nothing has changed.

[code]

[2021-04-01 09:18] panxiaoguang opened #40291 "error when use * in external command."
In linux, we can use ```ls *.png```to filter files end with "png",but in julia,
when I input ```run(`ls '*.png'`) ```or ```run(`ls \*.png`)```, an error happend

[code]
maybe it's a bug.Because in windows, I didn't find the same error.

[2021-04-01 09:21] KristofferC commented on #40291
The expansion by `*` is a shell feature. `run` just executes a command. You can use e.g. https://github.com/vtjnash/Glob.jl.

[2021-04-01 09:21] #40291 closed

[2021-04-01 09:24] KristofferC commented on #40289
Closing since this seems to have been accidentally submitted.

[2021-04-01 09:24] #40289 closed

[2021-04-01 09:30] panxiaoguang commented on #40291
Thank you very much!

[2021-04-01 09:57] tisztamo opened #40292 "More control over inlining"
The current inlining algorithm, although works well in most cases, uses a cost model that is ["extremely simple and ignores many important details"](https://docs.julialang.org/en/v1/devdocs/inference/#The-inlining-algorithm-(inline_worthy)). It seems not easy to improve the algorithm significantly, though.

On the other hand, the user can only suggest their wish to inline something with `@inline`:

[2021-04-01 10:01] inet56 commented on #40289
Feature request, not accident.

[2021-04-01 12:47] dlfivefifty commented on #40277
Found a fix, will make a PR:
[code]

[2021-04-01 13:00] mlubin commented on #28808
This is also an issue for printf statements. As @KristofferC helped me debug on slack:
[code]

[2021-04-01 13:03] KristofferC commented on #28808
I think that is Case 3 in https://github.com/JuliaLang/julia/issues/28808#issuecomment-511200909.

[2021-04-01 17:28] bryannagle opened #40297 "Unregistered Dependency Issue with Julia 1.6"
When using Julia 1.6, running "activate" on a module that has unregistered dependencies that use git ssh urls to private repositories, the update will fail if an entry for that repository host (i.e. gitlab) is present in the users ~/.ssh/known_hosts file.  Removing that entry fixes the problem, but then the entry is re-added when the user pushes to git.

Steps to Reproduce:

1.  Clone a gitlab pro

[2021-04-01 18:05] nickrobinson251 commented on #40228
Here's what the default stacktrace printing looks like in the default GitLab CI view

![Screenshot 2021-04-01 at 19 03 23](https://user-images.githubusercontent.com/13448787/113335680-30621100-931d-11eb-864c-d3de412422a4.png)

[2021-04-01 18:14] bryannagle opened #40299 "Julia 1.6 Dependency "Snappy" Fails to build on Alpine Linux"
Under Julia 1.6, dependency "Snappy" fails to build on Alpine Linux.  It builds fine under buster (Ubuntu).

Steps to reproduce:

1.  Create a docker file that uses the Julia 1.6 alpine3.13 image, i.e. FROM julia:1.6.0-alpine3.13
2.  Create or use a julia module that has Snappy as a dependency.
3.  Have the docker file install dependencies, i.e. RUN julia -e "using Pkg;Pkg.activate(\".\");Pkg.inst

[2021-04-01 18:43] staticfloat commented on #40299
This is because [`Snappy.jl`](https://github.com/bicycle1885/Snappy.jl/) has not been updated for a while, and needs to be updated to use `Snappy_jll` instead of the old binaries [which have very limited platform support](https://github.com/bicycle1885/Snappy.jl/blob/1bbda319dc4b65ed1fc7a4eb8531e96aea05fc04/deps/build.jl#L12-L21).  Either that, or don't use a musl-based linux distribution and use

[2021-04-01 18:43] #40299 closed

[2021-04-01 18:43] mbauman commented on #40297
Perhaps the most telling thing is that doing a _third_ operation (with the freshly generated known hosts entry) fails host verification again.

[2021-04-01 19:08] staticfloat commented on #40299
I looked into it, and the upgrade was quite easy.  Here is the pull request: https://github.com/bicycle1885/Snappy.jl/pull/25

To install that particular version, simply run

[code]

This will install _precisely_ that version; once a new version of `Snappy.jl` is released, you will want to free it to be managed by the package version resolver (so you can receive future updates), so you'll use `pkg

[2021-04-01 19:18] logankilpatrick opened #40300 "> Compute the minimum value from of calling"
Not introduced here, but: "from of calling"

__Originally posted by @chriselrod in https://github.com/JuliaLang/julia/pull/40296#discussion_r605888869__

[2021-04-01 20:18] JeffBezanson commented on #40300
I love how this bug looks randomly-generated, or perhaps a copy-paste error, but is real.

[2021-04-01 20:25] StefanKarpinski commented on #40189
Does this qualify:
[code]
Using an `_` for the module name does seem like a cute syntax which would presumably do this.

[2021-04-01 20:27] StefanKarpinski commented on #40289
Not much point in opening an issue for this. If you want Julia on Plan 9, port it and make a pull request.

[2021-04-01 20:44] davidanthoff opened #40301 "Make Union{} <: T always return false (except when T is Union{})"
I have to admit that I don't understand the formal properties of the type system well enough to tell whether this could cause trouble, and also not clear whether this could be done in a 1.x release at all. With those caveats:

The current behavior, that any subtype check with `Union{}` on the left hand side will return `true` (no matter what) was surprising to me and makes it kind of cumbersome to

[2021-04-01 21:02] simeonschaub commented on #40301
This is the defining property of the bottom type, so changing this would pretty much break all the internals related to the type system. What has come up before though is being able to dispatch on `Type{T} where {T <: S}`, but excluding `T == Union{}`, which is often useful when hunting down invalidations.

[2021-04-01 21:23] StefanKarpinski commented on #40297
The problem here seems to be that if you've used `git` to clone/push/pull anything from `gitlab.com`, it saves a host fingerprint to your known hosts file (typically `~/.ssh/known_hosts`). GitLab publicizes fingerprints for three different algorithms, which you can see all of with the `ssh-keyscan` tool:
[code]
Command-line `git` and `ssh` both use `libssh` which uses OpenSSL and support for all o

[2021-04-01 21:31] racinmat opened #40302 "Performance regression when recursively traversing nested types."
When digging into #40282  I discovered one dependency, https://github.com/CTUAvastLab/HierarchicalUtils.jl suffers from performance regression in some cases. From that I extracted following code
[code]
which runs much slower on Julia 1.6.0.
This is output of Julia 1.5.4
[code]
and this is output of Julia 1.6.0
[code]

We can see it's 30x slower during the first run, and 3.5x slower on consecutive

[2021-04-01 21:53] davidanthoff commented on #40301
See, I knew I was missing at least some minor aspect of this ;)

I think what is still true, though, is that in pretty much every instance where I have used the `<:` function in my code ever, I actually didn't really want to test for the subtype relationship as defined in Julia (and that I now understand), but instead had hoped to get something that is more narrow and excludes the bottom type, lik

[2021-04-01 21:55] mzaffalon opened #40303 "sprintf creates wrong string"
Some values are not correctly converted to string when using `@sprintf`:
[code]

[code]

[2021-04-01 22:05] Sov-trotter commented on #40064
I seem to be stuck while trying this out.
`Base.Experimental.register_error_hint(handler, type)` needs the handler to be defined in the module.
In our case where the module is Base, there seems no direct way to pass `Base.mul_int` into the handler. In other words there isn't any concrete way to find out that the error has been thrown by `Base.mul_int`.

Eg: the example [here](https://docs.julialan

[2021-04-01 22:15] simeonschaub commented on #40064
The error is not thrown by `Base.mul_int`, but instead by trying to call an instance of a number, so you would need to check for `if exc.f isa Number` im the handler.

[2021-04-01 22:19] Sov-trotter commented on #40064
Oh. Okay.
But that would throw the hint every time `exc.f isa Number` which is not specific for the issue that we are trying to tackle?

[2021-04-01 22:32] simeonschaub commented on #40064
Yes, it would be shown every time you try to call a number (i.e. the function is a number, it wouldn't be be shown if only an argument were a number), but that is what we want here.

[2021-04-01 22:36] Sov-trotter commented on #40064
Got it. Thanks!

[2021-04-01 23:12] staticfloat opened #40305 "Control coverage output location"
There are often times it might be useful to save coverage output to a different directory.  The most common being when we don't have permissions to modify the directories the source code is stored in.  This can be due to depots higher in the chain of our depot path being owned by some staff user, or because we're mounted in some docker container as a different user, etc...

One possibility is to a

[2021-04-02 00:20] david-macmahon opened #40306 "Default address family for `Sockets.getaddrinfo` changed in Julia 1.6"
The default address family for `Sockets.getaddrinfo` seems to have changed in Julia 1.6:

[code]

Not sure whether this is intentional, but it doesn't match [the docs](https://docs.julialang.org/en/v1.6.0/stdlib/Sockets/#Sockets.getaddrinfo):

[2021-04-02 02:02] vtjnash commented on #40306
Seems like #36029 was merged without NEWs or docs. Note that you might have wanted the variable `Sockets.localhost`, for the IPv4 loopback adapter.

[2021-04-02 02:03] vtjnash commented on #40305
You mean like `--code-coverage=path/to/foo-%p.info` does?

[2021-04-02 02:19] david-macmahon commented on #40306
I want to resolve a user-supplied string (that can be `localhost`) to an IPv4 address.  I can pass `IPv4` now that I know it's no longer the default, but a NEWS and/or docs update might save others some time/trouble.

[2021-04-02 03:12] cadojo commented on #36617
I'm working off an M1 MacBook Air. Thanks to all for the progress on this! **This comment has two points:**

1. On the latest `master` branch (commit `82dc40264d94581c6977dab01ec545c3cd4bb4ec`) I can _build_ Julia, and I can install pretty much every package I use. All packages precompile, __except those that depend on `GR`__. I can build `GR`, but `using GR` or `using Plots` results in the follow

[2021-04-02 03:24] #39674 closed

[2021-04-02 03:56] johnnychen94 commented on #40260
It might be related to the high decimal accuracy and float point errors it introduces, a workaround is to use fewer decimal counts...

[code]

[2021-04-02 05:09] chriselrod opened #40308 "LLVM vector intrinsic support for SVE?"
It'd be great to get good support for SVE, especially as SVE2 will become standard for ARMv9.

However, early tests with using LLVM vector intrinsics on the A64FX did not go well.
[Here](https://godbolt.org/z/cEf1Pfvx8) is a minimal example on Godbolt, showing a vectorized (but not unrolled) dot product on the A64FX, which has 512 bit vectors.
The problem is that `<8 x double>` gets translated int

[2021-04-02 08:03] giordano commented on #36617
@cadojo https://github.com/JuliaLang/julia/issues/36617#issuecomment-784798338

This will take _**time**_

[2021-04-02 08:17] arvganesh commented on #40272
Hi @simeonschaub, I'm interested in tackling this issue.

When I run `methods(xor)`, I get this:
[code]
Should I define 16 similar methods in these files for `nand` and `nor`?

[2021-04-02 08:17] storopoli commented on #36617
Last version on Plots.jl broke my ARM M1 because of a failed to build updated GR. So my quick fix was:
[code]

[2021-04-02 09:00] KristofferC commented on #40302
The compile-time seems to be slightly better at nightly. 11s -> 2.23 seconds for me. The runtime is still slower. I'll see if I can figure out what caused the runtime regression.

[2021-04-02 09:09] jishnub opened #40309 "Behavior of BroadcastFunction is inconsistent for ranges"
The docstring for `Base.BroadcastFunction` says that it

Except for ranges

[code]

The values are still equal, as we may check with

[code]

however the types are different. The `BroadcastFunction(+)` version also allocates whereas the `.+` version doesn't.

[2021-04-02 09:37] simeonschaub commented on #40309
Ah, the problem is that `Base.broadcasted_kwsyntax` replaces `+` with a closure, so because ranges only intercept `Base.broadcasted(+, ...)`, `.+(...; kwargs...)`, which is what `BroadcastFunction` actually calls, doesn't get intercepted:
https://github.com/JuliaLang/julia/blob/878e1cd52ebf14e8666d8d54a54a95ccee4405d3/base/broadcast.jl#L1303
We could just special-case `isempty(kwargs)` here, which

[2021-04-02 10:12] amasotti opened #40310 "methodswith (from InteractiveUtils) ignores submodules"
Look here : [#1044 in Pluto.jl](https://github.com/fonsp/Pluto.jl/issues/1044#issuecomment-812130860)

`methodswith` seem to ignore methods or structs defined in submodules. Is this the expected behaviour or should it be fixed?

__MWE__:
[code]

[2021-04-02 11:19] yuyichao commented on #40308
The first part is a LLVM issue and should be discussed there. I feel like it's illegal though.
And the biggest obstacle to represent scalable vector in julia code is that the side is unknown. There are a lot of places that assumes the size of a type is known at compile time or it'll be heap allocated. That's the main reason I did not implement it 4-5 years ago.

[2021-04-02 12:13] ericphanson opened #40311 "`findall(in(collection), vec::AbstractVector)` does not work if `collection` can't be converted to a `Set`"
because https://github.com/JuliaLang/julia/blob/878e1cd52ebf14e8666d8d54a54a95ccee4405d3/base/array.jl#L2327 dispatches it to `_findin` which assumes the collection can be converted to a `Set`. This isn't true for interval types, for example, which could represent an infinite number of objects.

For example,
[code]

TimeSpans use nanoseconds, so they theoretically could be materialized as a giant

[2021-04-02 12:26] bkamins opened #40312 "Add an option to ensure that @nospecialize really does avoid specialization"
In https://github.com/JuliaData/DataFrames.jl/pull/2691 I needed to use `Ref{Any}` trick to avoid excessive specialization. Unfortunately I was not able to achieve the required level of despecialization using `@nospecialize`. The issue is quite complex and we discussed with @nalimilan a lot what to do with it. Since we really do not understand in full how to avoid specialization I ask the question

[2021-04-02 12:38] jishnub commented on #40309
Perhaps removing support for `kwargs` would be the right move, as there won't be such surprises with other operators as well. One may construct the closure and pass it to `BroadcastFunction` if the parent function needs `kwargs`

[2021-04-02 12:49] chriselrod commented on #40308
Would the llvm/dev mailing list be the best place to ask?

Yeah, I think it'd need special handling / a representation like it has in LLVM IR.

[2021-04-02 12:58] KristofferC commented on #40302
I spend some time looking at this. It is kinda messy but here is some stuff:

The first big compile time increase (0.5s -> 5s) was from 258d04e8bfdb8189fd61199bccd7
The secon one (5s -> 10s) was from 51592abc99d6f
The biggest perf reduction ~factor of 2x was from fd8f97e98c93

[2021-04-02 13:18] KristofferC commented on #40302
@racinmat, One possible workaround is if you can specify the return type of the

[code]

expression. For example, changing to:

[code]

I get (on 1.6.0):

[code]

which is better than you had on 1.5.0.

[2021-04-02 13:50] piever opened #40313 "keyword argument splatting in `do` block gives syntax error"
Keyword argument splatting is not supported in `do` blocks, whereas positional argument splatting or individual keyword arguments work fine.

MWE:

[code]

I am running julia 1.6.0:

[code]

I could not find an issue documenting this problem, but https://github.com/JuliaLang/julia/issues/36581 seems related.

[2021-04-02 14:02] jishnub opened #40314 "Should views of CartesianIndices produce CartesianIndices?"
Currently

[code]

This gap might be bridged if `cv` is another `CartesianIndices`.

This is not always possible of course, eg. in logical indexing, but there might be a few common cases involving Cartesian indexing of `CartesianIndices` that might be optimized.

[2021-04-02 14:47] goualard-f opened #40315 "Conversion from Float64 to Float16 not always rounded to nearest"
Numbers 63328.0 and 63360.0 are perfectly representable in the Float16 format (with nextfloat(Float16(63328.0)) == Float16(63360.0)). The middle of the interval [63328.0,63360.0] is 63344.0. All Float64 in [63344.0, 63360.0] should round to Float16(63360.0); all Float64 in [63328.0,63344.0) should round to Float16(63328.0).

Yet with Julia 1.6.0, we have:

julia> convert(Float16,63343.99805) == 63

[2021-04-02 14:52] vtjnash commented on #40272
That sounds like a good approach. And welcome!

[2021-04-02 15:11] simeonschaub commented on #40272
In this case, since we already have `|` for bitwise or, `&` for and and `~` for not, you should just need to define one method for nor and one for nand making use of these. It would be good to have some test cases for different kinds of integers and various combinations of `missing` though.

[2021-04-02 15:59] logankilpatrick opened #40316 "Re-name "Master" to "Main""
Hey folks, what needs to be done to switch the default branch over from "Master" to "Main"?

[2021-04-02 16:02] quinnj commented on #40316
GitHub provides some helpful information: https://github.com/github/renaming

[2021-04-02 16:09] mcabbott opened #40317 "Broadcasting and zero-step ranges"
[code]
This fails because it eagerly evaluates `0 .* (1:3)` without waiting to see the rest of the broadcast:

https://github.com/JuliaLang/julia/blob/b7b0a634d8fab9e94dec7177b3853c3c46e3e7dd/base/broadcast.jl#L1141

However, it works fine for floating point ranges:
[code]
To fix this, if `broadcasted` is still going to return a range, then perhaps `2 .* (1:3)` needs to return `StepRangeLen(2,2,3)

[2021-04-02 16:14] KristofferC commented on #40316
There is no way to do this without breaking any script and configuration out there that has the assumption of the current branch name or that the default branch name does not change.

[2021-04-02 16:20] quinnj commented on #40316
Do we have an idea on the potential surface area of those kinds of scripts; do we rely on that in buildbots or other CI-related things? Do things like auto-built docker images perhaps rely on those? Would things like PkgEval.jl or Nanosoldier.jl be affected?

[2021-04-02 16:21] logankilpatrick commented on #40316
What sort of scrips are you referring to? We could do the transition for scrips in this repo and GitHub does auto re-directs after we re-name the branch.

[2021-04-02 16:24] oscardssmith commented on #40316
If I'm reading correctly, the website auto-redirects but the API throws an error.
"Return a "Moved Permanently" response in API requests for the old branch name". Is that a correct reading?

[2021-04-02 16:28] KristofferC commented on #40316
There are an unknowable number of scripts out there doing things with the julia repo (just like we there is an unknowable amount of code or there using Julia).

[2021-04-02 16:28] maleadt opened #40318 "Printf regression with pointers that cannot be represented as signed Int"
[code]

vs

[code]

[2021-04-02 16:30] oscardssmith commented on #40316
The good news is that any script that's broken by this should be pretty easy to fix. If we make this change, it will probably break a decent amount, but nothing that a few find and replaces wouldn't fix.

[2021-04-02 16:32] logankilpatrick commented on #40316
Yeah, personally willing to offer up some of my time to track down and help fix these issues when they come up. Did something similar when we changed the Slack invite URL and I had to open like 100 PRs to fix these.

[2021-04-02 16:33] KristofferC commented on #40316
We try our very best to absolutely not "break a decent amount".

[2021-04-02 16:42] logankilpatrick commented on #40316
I would be interested to see/hear what sort of things this would actually break in practice. It's unclear what scripts are running on the repo that we are trying to keep alive which we can't switch to "Main" ourselves. Any examples that come to mind?

[2021-04-02 16:42] mbauman commented on #40317
I really don't think it makes much sense to address this independently of #15218 / #10391.  The result of `0 * (1:3)` shouldn't be different from `0 .* (1:3)`.

[2021-04-02 16:56] mcabbott commented on #40317
OK, it looks like `0 * (1:3)` calls broadcasting, while `(1:3) .- (1:3)` calls ordinary subtraction, and all of these give errors. Sorry I didn't fully untangle this before posting.

Might it be acceptable to route both cases to the existing `StepRangeLen`, without the rest of #15218? Taking on "unifying LinSpace, StepRange, and StepRangeLen" sounds like a much bigger project. And ways to type the

[2021-04-02 17:08] mbauman commented on #40314
This matches what we do with ranges since 1.5.  Seems sensible.

[2021-04-02 17:21] mbauman commented on #40317
Right, I think we can "just" make arithmetic on `StepRange{<:Integer}`s return `StepRangeLen{<:Integer}`s everywhere.  Not sure how well trod/performant that particular parameterization of the type is, though, or what downstream effects it'll have but on its face it seems simple.

[2021-04-02 17:37] DilumAluthge commented on #40316
We will continue this discussion offline among members of the JuliaLang organization.

[2021-04-02 17:39] quinnj commented on #40318
Fix is up: https://github.com/JuliaLang/julia/pull/40319

[2021-04-02 17:56] arvganesh commented on #40272
Before sending my earlier comment, I defined a few of the `nand` and `nor` methods shown above:
[code]
Clearly, none of these definitions work on `missing`, so would I need to add a definition in [`missing.jl`](https://github.com/JuliaLang/julia/blob/master/base/missing.jl) or another similar file?

Where / how would I implement this if I only do it in one place? My thinking was that creating a ge

[2021-04-02 18:07] oscardssmith commented on #40272
`nand(x, y) = ~(x & y)` will have identical performance. Julia doesn't require types in functions for performance.

[2021-04-02 18:18] quinnj commented on #40303
Thanks for the report @mzaffalon! A fix is up: https://github.com/JuliaLang/julia/pull/40321

[2021-04-02 18:20] LRjunior opened #40322 "Much memory used for 2×2 matrix multiplication"
[code]
Much memory ~120MiB and allocations are used for 2×2 matrix multiplication.

[2021-04-02 18:25] oscardssmith commented on #40322
Notice `99.13% compilation time`. That means you're measuring the memory of compilation. If you run it a second time, you would see `0.000009 seconds (4 allocations: 288 bytes)`. Almost all of this time and allocation are due to the cost of assigning to a global variable.

[2021-04-02 18:29] KristofferC commented on #40322
And see for example the manual: https://docs.julialang.org/en/v1/manual/performance-tips/#Measure-performance-with-[@time](@ref)-and-pay-attention-to-memory-allocation

[2021-04-02 18:29] #40322 closed

[2021-04-02 19:40] #40303 closed

[2021-04-02 20:03] racinmat commented on #40302
Thanks, I'll try the workaround, hopefully, it will be fixed in some future releases.

[2021-04-02 20:13] simeonschaub commented on #40309
I mean, with kwargs, `.+(a, b; c=3)` would be consistent with `BroadcastFunction` again.

[2021-04-02 20:42] musm commented on #40237
https://github.com/JuliaLang/julia/pull/40323 should fix this

[2021-04-02 20:57] rohanblueboybaijal commented on #37380
Hi!
Is anyone working on this issue?
Would an error message suffice? And if so, should I be making changes in reduce.jl?

[2021-04-02 21:56] staticfloat commented on #40305
I didn't know about that option; I don't see people use it much, cool!  Can I use that with `Coverage.jl`?  How do I specify to only track user code or track all code?

[2021-04-02 22:36] #40318 closed

[2021-04-02 22:43] vtjnash commented on #40305
I believe both of those questions are in the first paragraph of https://github.com/JuliaCI/Coverage.jl#code-coverage 😂

[2021-04-02 23:24] vtjnash opened #40324 "opaque_closures codegen aborts when run with asserts"
Both `opaque_closure` and `precompile` tests seem to be broken on master currently, with debug or FORCE_ASSERTIONS=1 @keno
[code]

[2021-04-02 23:27] AnAverageHuman commented on #40231
Bisect says 2eccd8e086ba1b08dd8b4d04e86b548fcf8ec5e5 is the first bad commit. This commit upgraded PCRE from 10.31 to 10.35. The changelog for 10.36 says

Maybe that was the issue?

[2021-04-02 23:28] vtjnash commented on #40324
Ah, nevermind, I think I was running in the wrong folder

[2021-04-02 23:49] maxasauruswall commented on #40188
Hi @vtjnash, @fonsp, I'd like to start contributing. Is this an open issue I could help with? Cheers, Max

[2021-04-03 01:58] staticfloat commented on #40234
This should be fixed by https://github.com/JuliaLang/julia/pull/40217

[2021-04-03 02:01] vtjnash commented on #40324
Hm, not exactly sure why it wasn't reproducing consistently, but marking jl_any_type as unboxed is problematic:
[code]

[2021-04-03 02:01] #40324 closed

[2021-04-03 02:19] #34887 closed

[2021-04-03 03:25] #40277 closed

[2021-04-03 04:17] oscardssmith commented on #40315
Can you test the following to see if you can find any issues?
[code]

[2021-04-03 04:46] vtjnash commented on #31485
It seems like we might be able to fix this by making `limit_type_size` non-transitive. Keno pioneered that recently for his current work on Defractor.jl, so perhaps it is doable.

[2021-04-03 07:14] mzaffalon commented on #40303
@quinnj Thank _you_ for the rapid fix!

[2021-04-03 10:15] fonsp opened #40327 "[FR] non-mutating remove_linenums"
Currently, we have `Base.remove_linenums!(e::Expr)`, but it would be great to also have a _non-mutating_ version. For example:

[code]

[2021-04-03 10:58] BenjaminGalliot commented on #40231
Hello!

I have seen this changelog message 2 days ago and I thought it could be related, but I did not take time to go further (the bisect was really too annoying, one day I should learn it better…).

Your present message made me think I could check again this PCRE script:

[code]

I could say this is what they were talking about in changelog! The mystery is solved, thank you for this bisect!

[2021-04-03 12:18] #40094 closed

[2021-04-03 12:35] #39923 closed

[2021-04-03 12:58] stevengj opened #40329 "`@threads f(...)` syntax to tell callee to use threaded version?"
It occurred to me that it might be nice to have `@threads f(...)` rewrite the function call to something like `f(Threads.ThreadsCall{true}(), ...)`, if only to provide a uniform syntax for requesting a multi-threaded version of an algorithm.

For example, we could write `@threads sum(x)` to call a `sum(::ThreadsCall{true})` method rather than having a `sum_threads` function.

(Of course, in an ide

[2021-04-03 13:03] quinnj commented on #40329
I have found myself wanting something exactly like [this](https://github.com/JuliaData/Arrow.jl/blob/main/src/write.jl#L117-#L121) and [this](https://github.com/JuliaData/Arrow.jl/blob/main/src/write.jl#L146-#L150).

We've also been discussing and working on a lot of multithreading integration in DataFrames.jl for the 1.0 release and there have been several times where it's unclear exactly the API

[2021-04-03 13:07] stevengj commented on #40329
@quinnj, [your first example](https://github.com/JuliaData/Arrow.jl/blob/31079b0f091e8963a608b7fedf4d3a90ac98ca8f/src/write.jl#L117-#L121) could be simplified if `@spawn` also accepted a boolean parameter, i.e. you could do
[code]
to use the boolean type parameter `TC` to decide whether or not to use the spawned loop, rather than having to write two identical copies of the loop.

[2021-04-03 13:13] stevengj commented on #40329
Alternatively, if the boolean-flag version of `@threads` and `@spawn` seems too overloaded, we could have new macros to take a boolean parameter, e.g.
[code]

[2021-04-03 13:45] nalimilan commented on #40234
Thanks. Unfortunately, I've just tried that branch and I get the same failure. AFAICT the problem is that when looking e.g. for libstdc++.so.6, the only file that matches is the one in `/lib64`, but it's not the one used by the compiler. What's tricky is that `gfortran` includes `/lib64` in its search path, at the end. It seems that the build script would need to detect that a static library with

[2021-04-03 13:50] bkamins commented on #40329
Let me give one example from DataFrames.jl that would be great to simplify:
[code]
(of course it is more complex than it needs to be also because we also support Julia 1.0 - and once new LTS is out the code will be cleaned up, but the point is that it would be great to have something that would allow to enable/disable `@spawn` calling multiple threads or not with a single bool switch).

[2021-04-03 14:24] mohamed82008 commented on #40329
I think all of the proposals here can live in a package, e.g. https://github.com/tkf/ThreadsX.jl. For higher order functions in `Base`, calling `@threads` can simply replace `f` by `ThreadsX.f`, e.g. for `map`, `mapreduce`, `foreach` etc. I think in practice, people may want to switch threading on or off in different places based on the application. Doing this manually or on a case-by-case basis i

[2021-04-03 14:39] kimikage commented on #40315
xref: https://github.com/JuliaLang/julia/pull/40245

[2021-04-03 14:54] stevengj commented on #40329
`@threads` can't introduce a dependency on an external package.  You'd have to call the macro something else, e.g. `@threadx f(...)` — and of course, you can do that now if you want.

Second, I specifically don't want to replace `f(...)` with `someotherf(....)` (e.g. `SomeModule.f(...)`) because I want to have the option of sharing code between the threaded and serial versions of `f` as in the exa

[2021-04-03 15:13] goualard-f commented on #40315
@oscardssmith I have not reviewed your code yet but I have tested it. It cures the problem shown in the above example. However, it fails more often than the current code in Julia 1.6.0 to round correctly from Float64 to Float16.

Example: the conversion of Float64(51227.31583516182) to a Float16 gives Float16(51232.0) with Julia 1.6.0 and Float16(51200.0) with the code above, which is patently wro

[2021-04-03 15:39] #22639 closed

[2021-04-03 15:42] gbaraldi opened #40331 "The result of an empty intersection of ranges is confusing"
If you call `intersect`between two ranges and the result is empty it returns an empty range of the form `5:4` as in like
[code]
That can be confusing since you might interpret `5:4` as `5:-1:4`
Using Float ranges gives a different result though
[code]

[2021-04-03 16:55] #39172 closed

[2021-04-03 17:53] vtjnash commented on #38704
I think as a breaking change, we aren't likely to do this. Further discussion can continue, or be had on discourse. Tab-completion for methodswith will be added in #38791

[2021-04-03 17:53] #38704 closed

[2021-04-03 18:24] #38543 closed

[2021-04-03 18:43] #40309 closed

[2021-04-03 19:16] #40231 closed

[2021-04-03 19:22] vtjnash opened #40336 "limit_type_size failure for Type{Type{..}}"
[code]

So clearly this type-limit isn't working:
[code]
Reported by @aviatesk

[2021-04-03 21:16] jw3126 commented on #40329
cc @tkf

[2021-04-03 21:47] mcabbott commented on #36617
FWIW, quite a few packages can be made to work easily by installing their binary dependency yourself, possibly using Homebrew, https://brew.sh.

For example, `brew install nlopt`, then `] dev NLopt` and edit `.julia/dev/NLopt/src/NLopt.jl`:
[code]

[2021-04-03 23:12] tkf commented on #40329
I think the underlying infrastructure for this already exists in JuliaFolds, especially as the [*executor*](https://juliafolds.github.io/FLoops.jl/dev/reference/api/#executor). The surface API closest to the one mentioned in OP is provided from [Folds.jl](https://github.com/JuliaFolds/Folds.jl). Furthermore, all executors can also be used with [FLoops.jl](https://github.com/JuliaFolds/FLoops.jl) f

[2021-04-04 00:38] rryi commented on #40229
Would be wonderful - though I admit my English is German school English, some misunderstandings may be due to my language skills (I always preferred other languages like Algol, Pascal, Java, ... Julia (!really a wonderful language!))  If you think the vast majority of intermediated julia users understand the doc as it is meant, give doc change a low priority.

Before I tried with `@generated`, I t

[2021-04-04 04:36] vtjnash commented on #40229
Macros are simply function calls (they just run "early"), so if you have an example of them misbehaving with world-ages, I'll take a look

[2021-04-04 05:29] jishnub opened #40337 "Errors in remote asynchronous tasks lose their error message when displayed on the caller on Julia 1.6"
Cross-posting [from discourse](https://discourse.julialang.org/t/error-propagation-with-remote-asynchronous-tasks-seems-broken/58489) as there was no response there

On Julia 1.6:
[code]

The error message is lost here. If we do something similar on a local process,

[code]

the error message is displayed correctly. This also works correctly if the remote error is not wrapped in `@async`:

[code]

[2021-04-04 07:22] rafaqz opened #40338 "partialsort! is broken on 1.6"
Using Julia 1.6.0 `partialsort!` sorting with `rev` breaks above a certain vector length >=  ~22 and value of `k` >= 9, although these may interact.

It's not always clearly reproducible with `rand`, so I'm spelling this out with the data that triggered it.

With `k = 9` and above, the vector is sorted from the end back to 9. At `k = 8`, it is sorted from the start to 8.

[code]

[code]

[2021-04-04 07:38] arvganesh commented on #40272
Hi, I've implemented the functionality for `nand` and `nor`. PR https://github.com/JuliaLang/julia/pull/40339.

Features:
- Implemented bitwise `nand` and `nor` similar to the implementation of bitwise `xor`:
    -  Like `methods(xor)`, both `methods(nand)` and `methods(nor)` show 16 identical different methods.
    - `⊼` is an alias for `nand`
    - `⊽` is an alias for `nor`
- Written tests in al

[2021-04-04 08:26] david-macmahon commented on #40306
As mentioned in #36029, the new behavior defaults to the first address/address family returned by `getalladdrinfo`, which mirrors the order returned by the system `getaddrinfo()` call.  Some (all?) systems allow the local administrator to control this order if desired, so this new behavior is better in that it doesn't try to second guess the local administrator.

Since this change is intentional,

[2021-04-04 08:48] david-macmahon commented on #40138
Is there some way to override how the REPL displays exceptions?  I'm imagining something like a user-supplied `show` method in `startup.jl` to handle how Exceptions are displayed, but I don't know how feasible something like that is.

[2021-04-04 09:21] david-macmahon opened #40340 "DateFormat specifier `dd` should match blank-padded single digit days"
The `ctime()` function in `libc` returns a 26 character string representation of the passed in time.  This ubiquitous format includes a two character day-of-month field that is padded on the left with a space character when day-of-month is a single digit.  The current behavior of the `d` (or `dd`) DateFormat code makes it difficult (if not impossible) to create a single DateFormat specifier that w

[2021-04-04 09:51] KristofferC commented on #40338
Naively, reading the docs:

  that the value at index `k` (or range of adjacent values if k is a range) occurs at the position
  where it would appear if the array were fully sorted via a non-stable algorithm.

And trying this out:

[code]

looks like it is ok. So, could you be a bit more specific about what the bug is? Maybe  `1:k` should have been passed to `partialsort!´ and not just `k`?

[2021-04-04 09:54] #40237 closed

[2021-04-04 10:36] rafaqz commented on #40338
Look at the difference between `k = 8` and `k = 9`... they are sorting from the opposite end of the vector.

[2021-04-04 11:00] rafaqz commented on #40338
Heres the output, to save you the hassle

[code]

[2021-04-04 11:12] ViralBShah commented on #40279
I don't see this patch in Yggdrasil: https://github.com/JuliaPackaging/Yggdrasil/tree/master/O/OpenBLAS/OpenBLAS%400.3.13/bundled/patches

So it just seems like it needs to be added there.

[2021-04-04 11:17] ViralBShah commented on #40279
Fix in https://github.com/JuliaPackaging/Yggdrasil/pull/2769

[2021-04-04 11:28] KristofferC commented on #40338
Again, looking at the docs (as I wrote in https://github.com/JuliaLang/julia/issues/40338#issuecomment-813005250) the function only seems to make a claim about what will happen at `k` and nothing about the other values, or? So if you want to have the first `k` values sorted, you would pass in `1:k`?

[2021-04-04 11:43] rafaqz commented on #40338
You want the e.g. highest `1:k` not `1:k` sorted.

That's how it worked previously - I know because 1.6 has broken a published algorithm.

[2021-04-04 11:46] KristofferC commented on #40338
Just so I understand, could you point out to me what the result is that is contrary to the documentation.

[2021-04-04 11:46] rafaqz commented on #40338
The docs were always bad - this has changed the _behaviour_.

I assume what we want is: https://en.wikipedia.org/wiki/Partial_sorting

We don't have that anymore

[2021-04-04 11:49] rafaqz commented on #40338
This algorithm now gives either the smallest k:end or the largest 1:k, depending on an arbitrary cutoff. Thats not what a partial sort is.

[2021-04-04 11:56] KristofferC commented on #40338
Yeah, if you pass in `1:k`, no? Like the doc says:

[code]

[2021-04-04 12:03] timholy opened #40342 "Interpretation of AbstractFloat as a type or constructor depends on usage history"
[code]

[2021-04-04 12:12] rafaqz commented on #40338
Ehhhh ok. The docs specify what is returned, and don't really mention what happens to the vector.

I've never actually used the return value... instead reading the sorted section of the underlying array. I guess my misconception of that behavior was reinforced by it actually working how I thought it should for a few years... -  it just sorted up to k, and whatever the return value was wasn't that

[2021-04-04 12:30] rafaqz commented on #40338
Maybe, to clarify:

[code]

[2021-04-04 12:31] #40338 closed

[2021-04-04 12:35] rafaqz commented on #40338
And @KristofferC apologies for just not getting the range part!! Somehow it couldn't click that it was just luck that the algorithm had been passing tests for a few years, not actually design...

[2021-04-04 12:37] #40279 closed

[2021-04-04 12:40] ViralBShah commented on #40279
@pablosanjose Can you try out the new binaries? They should probably be available in a couple of hours as they propagate through registry update and package servers.

[2021-04-04 12:57] vtjnash commented on #40342
Are you suggesting we try to identify that it wasn't imported, and suggest that fix (like we would for MethodError)?

[2021-04-04 13:24] timholy commented on #40342
That, or bind all the typevars first (though I'm not sure what that error message will look like). This is also pretty confusing:
[code]

[2021-04-04 13:29] #34570 closed

[2021-04-04 13:30] ViralBShah commented on #36798
Please reopen if still an issue.

[2021-04-04 13:30] #36798 closed

[2021-04-04 13:34] ViralBShah commented on #40196
I don't think having this issue open helps. Such an issue should ideally be opened by someone undertaking such a port and wants to track all the items needed to complete the port.

[2021-04-04 13:34] #40196 closed

[2021-04-04 13:39] ViralBShah commented on #40199
I believe @staticfloat 's 1897e08ff54eb8c91b806e20bbfecbe7b2d4f9f7 should have fixed it. Please reopen if still an issue.

[2021-04-04 14:07] ViralBShah commented on #40279
#40343 should pick up the new binaries in master.

[2021-04-04 16:19] jmkuhn commented on #40199
This issue is not fixed by https://github.com/JuliaLang/julia/commit/1897e08ff54eb8c91b806e20bbfecbe7b2d4f9f7.  This error is later in the build.  I believe it is an issue with the OpenBLAS build.  At https://github.com/JuliaLang/julia/blob/89fff18d590db9be84598e0045003b903d48d2df/stdlib/LinearAlgebra/src/blas.jl#L152 `lib.interface` is not set.  I believe this should be set in `get_config()`/`lbt

[2021-04-04 17:47] ViralBShah commented on #40199
We'll need @staticfloat to look at it.

[2021-04-04 17:49] guberger commented on #37073
Seems to be fixed in Julia 1.6.0. :-)
With the code of @blegat above, I get
[code]

[2021-04-04 17:50] #37073 closed

[2021-04-04 18:05] rryi commented on #40229
I had a deeper look at my macro error, it is an "UndefVarError: MyEnum not defined" error, not a method related world age error. So no need to look at it in the context of this issue.

## Off-topic

what happened: my macro parses a NamedTuple definition like `@NamedTuple`. Standard type symbols like Symbol("Int8") can be converted to the type by `eval(Symbol("Int"))`, this fails for` eval(Symbol("

[2021-04-04 18:23] anandijain opened #40347 "Document retrieving capture group names from `Regex` or `RegexMatch`"
The Regex docs provide indexing with Symbol, where the symbol is the name of the capture group.

What is lacking is a way to retrieve the capture group names from either a Match or just the Regex itself (from the docs).

[code]
One has to know about `Base.PCRE.capture_names(m.regex.regex)`.

The context in which this arose was wanting to easily construct a `DataFrame` from a `Vector{RegexMatch}` w

[2021-04-04 18:32] balenamiaa commented on #39595
Is there a reason compiler builtins are used instead of a higher level abstraction like stdatomic.h or mintomic?

[2021-04-04 22:02] kahanikaar commented on #39996
Initial PR made. Do review. @jakobnissen @simeonschaub

[2021-04-04 22:43] KristofferC commented on #39996
Closed by https://github.com/JuliaLang/julia/pull/40281?

[2021-04-04 22:46] jakobnissen commented on #39996
Yes, looks like it! Thanks for your PR anyway, @kahanikaar

[2021-04-04 22:46] #39996 closed

[2021-04-04 23:18] lkapelevich opened #40350 "StackOverflowError from subtype.c"
xref https://github.com/jump-dev/MathOptInterface.jl/issues/1294
also looks similar to https://github.com/JuliaLang/julia/issues/39465

I'm not sure how to properly reduce this, sorry for the dependency. On Julia master, if I run:
[code]
I get :
[code]
This is with `Hypatia` master on Ubuntu (but also seen on Windows).

[2021-04-05 04:21] yurivish commented on #31142
This seems fixed in Julia 1.6:

[code]

[2021-04-05 04:21] #31142 closed

[2021-04-05 04:49] jakobjpeters commented on #22891
Since this issue is still open but most of the discussion appears to occur in #23260, I posted some ideas https://github.com/JuliaLang/julia/pull/23260#issuecomment-813075165 for if this is ever taken up again.

[2021-04-05 07:05] quildtide opened #40352 "Bug in readdlm with WSL1 causes doctest failure"
Hi; I'm not sure how supported WSL1 is supposed to be in theory.

I noticed an interesting bug that appears in both today's master (commit 58fba2b356) and v1.5.3 on WSL1 but does not seem to appear on v1.5.3 on either Windows proper or Linux proper. I am currently unable to use WSL2 for certain reasons, so I am unsure if this bug also appears in WSL2.

EDIT: I forgot that, for certain reasons, I w

[2021-04-05 08:17] chriselrod commented on #40308
https://lists.llvm.org/pipermail/llvm-dev/2021-April/149612.html
suggested specifying `-aarch64-sve-vector-bits-min=`, which does work:
https://godbolt.org/z/Mo76oWanW
Aside from the option not yet existing in LLVM 11, we'd need a way to set this correctly.

[2021-04-05 10:03] sostock commented on #40331
Maybe we could print empty ranges differently, adding a hint like the following:
[code]

[2021-04-05 11:33] BenjaminGalliot commented on #40347
Related to #37299?

From the master branch, we now have a `keys` method.

[2021-04-05 13:28] PallHaraldsson commented on #40272
I looked up precedence for this:

https://www.cs.rochester.edu/u/nelson/courses/csc_173/proplogic/expressions.html
"Precedence is (from highest to lowest): NOT, NAND, NOR, AND, OR"

that differs from Verilog (which also has XNOR):
https://class.ece.uw.edu/cadta/verilog/operators.html

[2021-04-05 13:29] BioTurboNick opened #40354 "Attempting to assign to a variable starting with a number leads to cryptic "function argument" error"
[code]

This is a sneaky problem. A novice user doesn't know (and even an intermediate user might puzzle a bit):
    1) numbers cannot be used to start names
    2) a number juxtaposed with a name is equivalent to `*(2, x)`
    3) `*(2, x)` on the left-hand-side doesn't perform the operation, but is a function signature
    4) therefore, `2x = 5` is attempting to define `*(2, x) = 5`, and `2` is n

[2021-04-05 13:50] kmsquire commented on #40338
Just as a point of reference: `partialsort` used to be called `select` and was based on the [select algorithm](https://en.wikipedia.org/wiki/Selection_algorithm#:~:text=In%20computer%20science%2C%20a%20selection,%2C%20maximum%2C%20and%20median%20elements.).  It was renamed in #23501 to `partialsort` to avoid confusion with similar terms (e.g., `SELECT` in SQL, which is a bit different).  See also

[2021-04-05 14:38] simsurace opened #40355 "Base.rand() produces too many collisions for `Float32`s"
**Minimal working example** (Tested on Julia 1.5 and 1.6.)
[code]
**Expected behavior**
The expected number of duplicates when drawing `n` times at random from a set of `N` elements with replacement is equal to (see e.g. [Proposition 4.1 in this paper](https://arxiv.org/pdf/2003.08009.pdf))
[code]
For drawing a uniform `Float32`, we therefore expect
[code]
**Actual behavior**
I obtain numbers that

[2021-04-05 15:03] yha opened #40356 "REPL tab completion: some completions are missing"
After `using Flux`,
[code]
completes to `Flux.CUDAint`, skipping `Flux.CUDA`.
Also, `Flux.CUDA.all<tab>` completes to `Flux.CUDA.alloc`, skipping `Flux.CUDA.allowscalar`. An additional tab shows
[code]

[code]
`Flux` version is 0.12.1

[2021-04-05 15:49] sostock commented on #40355
But the set doesn’t have `2^32` elements, since only numbers in the interval `[0,1)` are returned by `rand`.

[2021-04-05 15:54] oscardssmith commented on #40355
Also, `rand` doesn't generate all numbers in `[0,1)`. It generates only numbers from `[1,2).-1`. As such, there are `2^23` different possible return values. As such,
[code]
which seems in line with the number you're seeing. Given that, should this be closed?

[2021-04-05 16:03] simsurace commented on #40355
Oh yes, of course! Apologies and thanks for clearing this up.

[2021-04-05 16:03] #40355 closed

[2021-04-05 16:14] vtjnash commented on #40352
Sounds like a WSL1 bug, in that case, which you can try reporting to Microsoft, but I think it is deprecated. It looks like the code calls `copy(mmap(_))` on unix and `read(_)` elsewhere. I wonder if we can just delete the mmap code, since that seems like it may be rather bad anyways, for reasons both of performance and reliability:
[code]

[2021-04-05 16:36] anandijain commented on #40347
beautiful, indeed this is a duplicate. i will leave it open for documenting `keys`, as that PR just updated NEWS.md

[2021-04-05 17:37] #40141 closed

[2021-04-05 18:03] gbaraldi commented on #40331
There should be a better way to show an empty range then `5:4` or `6.0:5.0` since one, it's not unique and two it's confusing.

[2021-04-05 18:52] regier21 commented on #40356
On your second example, ```allowscalar``` does not begin with ```alloc```. Was this a typo on your end or am I missing something?

[2021-04-05 19:11] regier21 commented on #40347
I was looking into doing this and I noticed that none of the ```RegexMatch``` functions (or ```RegexMatch``` itself) are documented. Should I go ahead and add documentation for all of these?

[2021-04-05 19:51] palday commented on #40350
Possible duplicate of #40048

[2021-04-05 19:51] vtjnash commented on #40331
Commonly, we summarize by printing the length of an array. Might we useful always?

[code]

[2021-04-05 22:23] vchuravy commented on #35785
maybe duplicate of #38873?

x-ref: #38879

[2021-04-05 22:27] ym-han commented on #40354
Thanks for making this issue; I'm pretty swamped for the next couple of weeks, but would be down to help out after that if there's anything a relative novice like me can help with.

[2021-04-05 22:33] StefanKarpinski opened #40360 "Unsafe stdlib"
We can't delete the old names in 1.x, but it would be good to silo all the unsafe constructs in the language into an `Unsafe` stdlib so that if a project doesn't depend on that stdlib, you know it's not doing anything unsafe. In addition to all the `unsafe_` functions, it would also include `@inbounds` and `@ccall` and some other things.

[2021-04-05 22:34] Keno commented on #40360
I propose this stdlib be called `Julia.Sun.Misc.Unsafe` ;)

[2021-04-05 22:43] yha commented on #40356
That was a mistake. Typing `Flux.CUDA.all<tab>` completes to `alloc` and an additional tab displays the list above. I will edit the original.

[2021-04-05 22:49] quildtide commented on #40352
Thanks; your explanation was very helpful towards allowing me to better understand the issue at hand.

## Proposal

`DelimitedFiles.readdlm` should not assume `use_map == true` even when the `Sys.isunix() == true`, as there are edge cases where the OS might be Unix-like while the Filesystem is not.

### Alternative Proposal

Nothing changes in `DelimitedFiles.readdlm`, but the doctest in question

[2021-04-05 23:17] sethaxen opened #40361 "Illegal instruction using openblas 0.3.13+4 on 1.7-dev"
After #40343 I am unable to call certain LinearAlgebra functions anymore. An example:

[code]

If I check out the previous commit on master and build Julia, everything works fine.

I tried to generate an RR bug report but got the error:
[code]

My version info:
[code]

[2021-04-05 23:19] oscardssmith commented on #40360
Let's not have Oracle sue us for copying their api :rofl:

[2021-04-06 00:24] BioTurboNick opened #40362 "Type instability when DateTime is inside a function?"
[code]

It doesn't seem to affect performance though. Possibly related to this old issue? https://github.com/JuliaLang/julia/issues/13644 Or is it an issue with the `@code_` methods?

[2021-04-06 00:45] BioTurboNick opened #40363 "Suggestion: Deprecate `Date[Time](dt::AbstractString, format::AbstractString)`"
I just saw someone get bitten by the fact that `Date[Time](dt::AbstractString, format::AbstractString)` creates a DateFormat object each time it is called. It seems like an easy error to make, especially since a note is in the docstring for it.

Is that method necessary to keep around? Seems like it may be a big performance trap for little benefit.

I've done a few searches and it seems like it is

[2021-04-06 03:03] #35130 closed

[2021-04-06 03:38] BioTurboNick commented on #40354
Thanks for the offer @ym-han ! Looks like it was pretty easy to figure out, though mostly because I've recently gotten my hands dirty with the femptolisp-based parser.

For posterity: Other invalid left-hand expressions can lead to the same error message, which are still somewhat cryptic but hopefully clearer to the user that it's invalid. E.g.:
[code]

Maybe something to clean up later?

[2021-04-06 03:48] dewilson opened #40367 "Memory use of compiled code"
As I understand it after talking to @rai-nhdaly, there has been some discussion and possibly some work done on measuring memory usage of compiled code, but it's not coherently tracked anywhere.

General summary: We'd like to be able to measure the amount of space compiled code takes up so we can track it over time and assess how close we are to running into problems in this area. Stats on heap fra

[2021-04-06 04:31] mortenpi opened #40368 "Underscores in big_str macro for floats"
[code]

It was mentioned in https://github.com/JuliaLang/julia/pull/24834#issuecomment-348708899, but I didn't find a dedicated issue. There used to be issue (https://github.com/JuliaLang/julia/issues/21092), but that was closed when the integer case was implemented.

[2021-04-06 07:49] KristofferC commented on #40360
"Know" here is perhaps a bit strong since these are still needed in Base so using them after this change would just be `Base.@inbounds`. So it could be a way to help an author not accidentally use any unsafe constructs (which is already quite easy since you would just not use any `unsafe_` methods) but not really to audit code written by others.

[2021-04-06 08:32] jakobnissen opened #40369 "Export Base.RefValue"
`RefValue` is really useful - not just to create mutable `const` objects, but also to create mutable fields in large immutable structs. However, that requires importing `Base.RefValue` - which is not exported.

So what's the deal with `RefValue`? Is the type simply an internal implementation of `Ref`, not to be relied on in user code? If not, can we export it from Base? If so, can we have some exp

[2021-04-06 08:37] pablosanjose commented on #40361
Uhm, looks bad. Unfortunately I cannot confirm on my machine (also a mac). I get no error with latest nightly.
[code]

[2021-04-06 08:42] KristofferC commented on #40361
Can you try do `make clean; rm -rf usr` between the builds. Can you also try downloading the nightly build and see if it repros there.

[2021-04-06 08:45] comnik commented on #40367
🤔 If `@allocated` accurately reports allocations to include the size of Julia's internal representation of compiled code, then at least we could start tracking the size of compiled queries pretty easily.

[2021-04-06 08:52] sethaxen commented on #40361
I cleaned several times and still saw the error, but just to be safe, I made a fresh clone of the repo and am `make`ing it now.

I see the same error on the nightly build:

[code]

[code]

[2021-04-06 09:15] jaakkor2 commented on #40361
I can't even start Julia-1.7 nightly on my Mac
[code]
[code]
Julia-1.6.0 is fine.

[2021-04-06 10:12] giordano commented on #40361
@jaakkor2 can you also please try on the commit before #40343?

[2021-04-06 10:22] jaakkor2 commented on #40361
@giordano  , only if I can get a download link to a nightly before #40343, as my Mac is from 2009 and I cannot likely compile anything in a reasonable time in it.

[2021-04-06 12:28] andreasvarga opened #40370 "opnorm fails on an 1 x 0 matrix"
The following computation leads to an error:
[code]

But, there is no error if the matrix has a slightly different shape:
[code]

[2021-04-06 12:49] chriscoey opened #40371 "segfault for sparse qr on 1.6.0 on mac"
sorry if this was reported already.
on:
[code]
I get a segfault on:
[code]
as follows:
[code]
and it seems to happen every time.

[2021-04-06 13:19] jakobjpeters opened #40372 "continue/break-with-value & else clauses in loops"
These are a couple of ideas to extend those proposed in #22891.

- As a natural extension to `break`-with-value in a loop, I propose `continue` to append a value to a returned array.

- I had initially thought `default` would be more descriptive than `else` and may lessen objections to it (https://github.com/JuliaLang/julia/pull/23260#issuecomment-463768852). However, @tkluck pointed out (https://

[2021-04-06 14:07] ViralBShah commented on #40371
Works for me on 1.6 and 1.7-dev. The major difference is i5 vs. i9 processor.

[code]

I wonder if this is related to https://github.com/JuliaLang/julia/issues/40361

[2021-04-06 14:09] simeonschaub opened #40373 "lowering of typed comprehension unnecessarily complex"
Is there any reason we implement pretty much the whole functionality for typed comprehensions in lowering? Compare:
[code]
to the way untyped comprehensions are lowered:
[code]
This makes this syntax hard to extend for other array types and also prevents AD from making use of higher-level adjoints here. Is there a reason we do it this way or is it just historical baggage? Otherwise, I would propos

[2021-04-06 14:24] giordano commented on #40361
There you go: https://julialangnightlies-s3.julialang.org/bin/mac/x64/1.7/julia-89fff18d59-mac64.dmg

[2021-04-06 14:30] giordano commented on #40371
I don't think so, since #40361 reportedly started with #40343

[2021-04-06 14:33] giordano commented on #40371
Also, this is probably suitesparse instead of openblas?

[2021-04-06 14:37] jaakkor2 commented on #40361
Same error with `julia-89fff18d59-mac64.dmg` as with latest nightly (creation time difference between the two is only 6 hours).  More nightlies to test? From mid-February before libblastrampoline went in?

[2021-04-06 14:41] giordano commented on #40361
Find a commit and replace the first 10 characters of the hash in the URL.  I think these tarballs are available for 60 or 90 days.

[2021-04-06 14:49] ViralBShah commented on #40371
Perhaps the same underlying toolchain problem causing both?

[2021-04-06 14:51] ViralBShah commented on #40361
For the folks who are seeing this issue, can you confirm that 1.6 works fine (I think it should be but just checking).

[2021-04-06 14:55] giordano commented on #40361
Determing _which_ is the illegal instruction would give us some more clues of what's going on.  Look for example in `dmesg` log if there is a line referencing it

[2021-04-06 15:03] johntrinder opened #40374 "Cut & Paste '~\.julia\dev' folder to a Windows MyDocuments folder"
I have cut&pasted the '~\.julia\dev' folder on the C: drive into Windows10 'MyDocuments' so that I can perform a daily synchronized backup of any changes.
To accommodate this I added the following line to my 'startup.jl' file:
        pushfirst!(DEPOT_PATH, "D:\\My Documents\\JULIA\\LIBRARY")

Now, when I create a package using   (@v1.5) pkg> dev .
I get the following error report:

[ Info: Resolv

[2021-04-06 15:03] jaakkor2 opened #40375 "openblas 0.3.13 uses `clock_gettime` that is only available macOS 10.12 onwards"
This version starts fine
https://julialangnightlies-s3.julialang.org/bin/mac/x64/1.7/julia-95a34a9020-mac64.dmg
https://github.com/JuliaLang/julia/commit/95a34a902061699205d0d116878e766f1e338d20
[code]

This does not start
https://julialangnightlies-s3.julialang.org/bin/mac/x64/1.7/julia-dc81980e0b-mac64.dmg
https://github.com/JuliaLang/julia/commit/dc81980e0b9ea4f817fc1a36139867469da0f594
[code]

[2021-04-06 15:06] KristofferC commented on #40374
Should be fixed in 1.6 (by https://github.com/JuliaLang/julia/pull/38259).

[2021-04-06 15:07] jaakkor2 commented on #40375
Recent https://julialangnightlies-s3.julialang.org/bin/mac/x64/1.7/julia-89fff18d59-mac64.dmg  https://github.com/JuliaLang/julia/commit/89fff18d590db9be84598e0045003b903d48d2df failed to start as well.

[2021-04-06 15:26] wdebeaum commented on #28175
Have they, though? I just got around to testing this out, but the original example still didn't work how I expected it to in the latest release (1.6.0). So I got the nightly build and tested it too, and got the same results:

[code]

and some of the later examples:

[code]

This last one seems to be the only one that really changed, and I'm not sure that's even the right change. It does at least m

[2021-04-06 17:12] vtjnash commented on #40369
It is a very inefficient (slow) way to create a mutable field in a large mutable struct (the efficient way is to make the whole struct mutable), so we try to dissuade people from using it directly. I believe there's old issues discussing this, but can't quickly find them.

[2021-04-06 17:20] #40374 closed

[2021-04-06 17:29] vtjnash commented on #40375
Seems to work for me, but I have an older kernel. What do you get with verbose=true?
[code]

[2021-04-06 17:31] vtjnash commented on #28175
That is not a parser issue, though it is a possible breaking change.

[2021-04-06 17:36] jaakkor2 commented on #40375
[code]
This is on OS X 10.11.6.  OS in platform info seems to be the version of kernel where the compilation was done.

[2021-04-06 17:46] sethaxen commented on #40361
Yes, Julia 1.6 works fine for me. As does the commit immediately before #40343.

Here's the output of `sudo dmesg` that looks relevant:
[code]

[2021-04-06 17:57] vtjnash commented on #40375
ah, right, I skimmed that too quickly (I was confused that penryn could run the latest version, so I should have double-checked).

We compile libjulia with `-mmacosx-version-min=10.9`, but looks here like gfortran might be missing that flag on https://github.com/JuliaPackaging/Yggdrasil / https://github.com/JuliaPackaging/BinaryBuilder.jl (@staticfloat)

[2021-04-06 18:06] wdebeaum commented on #28175
Maybe I should have said "evaluate to" instead of "parse as" in my last comment. But in the original description of this issue I didn't say it was only an issue with parsing and printing. So why did you close the issue when you considered only the parsing and printing issues to be fixed?

[2021-04-06 18:14] JeffBezanson commented on #40373
This was probably to reduce the number of closures and make it easier on the compiler. Otherwise it has to re-analyze a significant amount of code for each comprehension.

[2021-04-06 18:15] JeffBezanson commented on #40367
You may already know about it, but there is `Base.jit_total_bytes()`.

[2021-04-06 18:17] vtjnash commented on #32898
Should we rename `isassigned` to `haskey`?

[2021-04-06 18:20] ViralBShah commented on #40361
The only thing that changed was the LAPACK 2 line patch, and building new binaries. I can't imagine the LAPACK patch causing any of this - which leads me to think that it has to be the toolchain. No other changes in openblas either.

[2021-04-06 18:29] simeonschaub commented on #40373
Would you say that is something that's still as relevant nowadays, or would the additional consistency and extendability be worth it? A much more speculative proposal would be to lower comprehensions to opaque closures, since IIUC they would avoid recompiling the same code over and over again, but not sure if the slight semantic differences might lead to some odd edge cases.

[2021-04-06 18:30] vtjnash commented on #40146
Fixed by https://github.com/JuliaLang/julia/pull/38741

[2021-04-06 18:31] #40146 closed

[2021-04-06 18:34] JeffBezanson commented on #40373
It's probably still relevant now. If we still wanted everything inlined, I'm not sure opaque closures would be much better.

[2021-04-06 18:35] KristofferC commented on #40373
Here is an example where it seems relevant https://github.com/JuliaLang/julia/issues/40302#issuecomment-812525555

[2021-04-06 18:42] simeonschaub commented on #40373
#40302 seems mostly due to the `return_type` calculation, if I read that correctly. Since that shouldn't get called in the typed case, that might not affect this change.

[2021-04-06 18:42] JeffBezanson commented on #40342
I can see a case for evaluating argument types first, but it feels less "left to right" than what we do now, where the function is introduced first, then a method is added. The example here is certainly confusing though.

[2021-04-06 18:56] vtjnash commented on #40342
We might need add another case (for Type constructors) to the existing MethodError text?
[code]

[2021-04-06 18:58] StefanKarpinski commented on #40360
`Unsafe.eval`? Technically not unsafe in the same way, but still dangerous.

[2021-04-06 19:18] tkluck commented on #40372
Thanks for sharing the ideas! FYI I'm not a committer to Julia but I'll share some thoughts that are hopefully helpful.

 - **Backwards compatibility.** New syntax has to be a *syntax* error in current versions of Julia -- that way you can be sure it doesn't already have a meaning. This was the problem with `default` and it's the same with `events::Array{Int64} = for ...`: this is currently valid

[2021-04-06 19:35] #40249 closed

[2021-04-06 20:14] chriselrod commented on #36617
Should I file a separate issue?
[code]

[2021-04-06 20:43] staticfloat commented on #36617
yes, I think you should open a separate issue. :)

[2021-04-06 20:55] staticfloat commented on #40375
We are setting `-mmacosx-version-min=10.10` on Yggdrasil.  Not great that it doesn't match Julia itself, but we had to bump for some software package at some point, I don't remember quite which one; perhaps something to do with GTK.

[2021-04-06 21:05] staticfloat commented on #40199
@jmkuhn can you try out https://github.com/JuliaLang/julia/pull/40381 please?

[2021-04-06 21:10] #40201 closed

[2021-04-06 21:16] atbug commented on #40249
Maybe closing https://github.com/JuliaLang/julia/issues/26539 as well?

[2021-04-06 21:36] jmkuhn commented on #40199
I still get the same error after the version bump.

[2021-04-06 21:39] #40300 closed

[2021-04-06 22:20] staticfloat commented on #40234
I built a docker container that installs the devtoolset, and it looks to me like the `libstdc++` that is used by the devtoolset is the same as what is used by the system overall; e.g. it doesn't try to mix-and-match libstdc++ versions, it just compiles against the old version that ships with CentOS.  I don't know how they support newer features with older libstdc++, but I can't find any newer `lib

[2021-04-06 22:51] StefanKarpinski opened #40383 "segfault during CI in Downloads.jl / libcurl"
See https://build.julialang.org/#/builders/57/builds/2362/steps/14/logs/stdio. Would be good to get an RR trace.

[2021-04-06 23:08] mbaz opened #40384 "Example in Modules documentation throws an error"
The [documentation on modules](https://docs.julialang.org/en/v1.6/manual/modules/) includes an example module, `NiceStuff`. After declaring the module, it is loaded with `using NiceStuff`. This fails with
[code]
Instead, `using .NiceStuff` is required. The same is applicable to `import NiceStuff`.

I can write a PR with a fix; however, relative paths are introduced much later, so this may require

[2021-04-06 23:11] oscardssmith opened #40385 "`sinpi` 30% slower than `sin`"
Currently `sinpi` and friends work using extended precision multiplication by `pi`. If instead, they used separate `sinpi_kernel` and `cospi_kernel` with different coeficients, they could probably be made at least as fast as `sin` and friends.

[2021-04-07 01:39] BioTurboNick commented on #40354
@ym-han Would you find this good enough to understand what was happening? Unfortunately it seems like it won't be possible to catch it early enough to be sure someone is writing something like `2x =` specifically, so I'm thinking this should at least more clearly indicate how Julia is interpreting `2x =`?

[code]

[2021-04-07 01:42] ym-han commented on #40354
This looks good enough to me. Thanks for the heroic effort here!!

[2021-04-07 04:29] quinnj commented on #40363
I think there are valid use-cases, however, when you _want_/_need_ to dynamically build/format strings, so I'm not sure taking a strict hardline approach here will be welcomed all around. I think making some bigger points in the docs, even a strong warning could be helpful.

[2021-04-07 05:13] staticfloat commented on #40199
Can you try the tip of the branch again?  I believe I have [tracked down the issue](https://github.com/staticfloat/libblastrampoline/commit/9cfde3469e3e28d82f4a3230af6bdf2915b663b8) and made a new release of LBT.

[2021-04-07 07:20] thofma commented on #40361
Just want to mention that this started appearing on GitHub Actions CI, e.g. https://github.com/thofma/Hecke.jl/runs/2279959685?check_suite_focus=true.

[2021-04-07 08:08] DhairyaLGandhi commented on #39586
Worth mentioning that you might want to try with flux v0.12

[2021-04-07 08:09] nalimilan commented on #40234
Thanks for checking. Indeed it seems things are quite complex. In the [gcc-c++ package](http://mirror.centos.org/centos/7/sclo/x86_64/rh/Packages/d/devtoolset-9-gcc-c++-9.3.1-2.el7.x86_64.rpm), there's a libstdc++.so file which is just a text file containing this:
[code]
Next to it there's a libstdc++.a link to the libstdc++.a provided by the [libstdc++-devel package](http://mirror.centos.org/cent

[2021-04-07 08:29] racinmat commented on #39586
I used Flux 0.12 for benchmarks.

[2021-04-07 10:53] foldl opened #40388 "Inconsistent behavior when indexing into arrays by (1, 1, ...)"
## Test Code

[code]

## Analysis

In `array_nd_index`, we can see that when `nidxs > nd`, a BoundsError is always reported, except
when all indices equal to `1` (``ii == 0``).

https://github.com/JuliaLang/julia/blob/8fc52931fca94f4247f2b0e8f69447f8417d70ab/src/builtins.c#L1209

IMHO it can hardly be called as a feature.

[2021-04-07 10:56] antoine-levitt commented on #40388
Yes, it's a strange quirk of julia, which some other languages have as well: https://docs.julialang.org/en/v1/manual/arrays/#Omitted-and-extra-indices. It is pretty weird but it does make a number of things much easier to write.

[2021-04-07 10:58] #40388 closed

[2021-04-07 12:08] foldl commented on #40388
This is really a nice feature.
But I can't see why `[1,2,3][1, 1, 1, 1, 1, 1, 1]` is allowed and evaluated to `1`.

[2021-04-07 12:15] antoine-levitt commented on #40388
It's the same principle, only generalized to dimensions > 2.

[2021-04-07 14:12] chriselrod opened #40389 "Can't create non-empty `SharedArray`s on arm64-apple-darwin: Requested shmem size (0MB) larger than max size (4MB)"
I'm unfamiliar with MacOS, so this could be user error (e.g., "just change this setting!"), in which case this issue can track a more helpful error message.
[code]

[2021-04-07 14:16] jmkuhn commented on #40199
v3.0.4 works.  Thanks!

[2021-04-07 14:34] stevengj commented on #40370
I'm not entirely clear about the definition of the operator norm in this case.  Normally it is defined as:
![image](https://user-images.githubusercontent.com/2913679/113883894-8f47e000-978c-11eb-9f46-e5e634e31410.png)
but if `A` is a `1x0` matrix then it seems like the denominator `‖x‖` is zero, and the result is not defined.

(On the other hand, it seems like `‖A‖` should be defined and give zero

[2021-04-07 14:44] ViralBShah commented on #40361
Should we temporarily go back to 0.3.13+3?

[2021-04-07 14:51] simeonschaub commented on #40370
I think I did see the operator norm of `A` defined as the smallest value `c`, such that `c * norm(x) >= norm(A * x)` holds for all `x` before. Since `norm(x)` and `norm(A * x)` will always be zero if `A` is a 1x0 matrix, this trivially holds for all `c`. The opnorm can't be negative, so I don't think zero would be an unreasonable choice for the operator norm here.

[2021-04-07 14:56] stevengj commented on #40270
You can pass a starting index to get additional matches.

[2021-04-07 15:03] stevengj commented on #40270
This works:
[code]

[2021-04-07 15:04] stevengj commented on #40270
You can also do `SubString.(s, findall(r"\d+", s))`, which is a lot simpler and nearly as fast.

[2021-04-07 15:13] ninjin opened #40390 "libunwind linked statically if Julia is built with `USE_BINARYBUILDER=0`"
[code]

This leads to the `LibUnwind_jll` unit tests failing as they attempt to locate the shared library. Possibly this is a regression (or sneaky edge case?) from #36697? I dug through the issue tracker, but nothing else from the last two years looked related. [Link to Yggdrasil build script](https://github.com/JuliaPackaging/Yggdrasil/blob/master/L/LibUnwind/build_tarballs.jl) (thank you @giord

[2021-04-07 15:13] giordano commented on #40361
The fact that it's reproducible on GitHub Actions now makes it slightly easier to debug (at least for someone who's more familiar with macOS than me :slightly_smiling_face:)

[2021-04-07 15:37] terasakisatoshi commented on #40199
#40381 works

https://github.com/JuliaLang/julia/pull/40381#issuecomment-815011385

[2021-04-07 15:45] andreasvarga commented on #40370
Just for comparison: in Matlab

[code]

[2021-04-07 16:10] StefanKarpinski commented on #39167
This would be a nice feature if someone wanted to implement this.

[2021-04-07 16:11] StefanKarpinski commented on #39157
Does this still happen on Julia 1.6?

[2021-04-07 16:14] #14106 closed

[2021-04-07 16:16] StefanKarpinski commented on #39079
@oscardssmith, I've assigned this to you. What's needed to make progress with this. Does it need review from @JeffBezanson?

[2021-04-07 16:19] frankwswang commented on #31456
I think this bug still exists in Julia 1.6. It seems to be related to using `\N` (for catching the Nth capture group of the regular expression) in the `SubstitutionString`.

[code]

[2021-04-07 16:20] StefanKarpinski commented on #34516
Is this still problematic?

[2021-04-07 16:26] oscardssmith commented on #39079
The biggest thing it needs IMO is a discussion about what it means for an iterator to be indexable. Review from Jeff would also probably be good.

[2021-04-07 16:30] StefanKarpinski commented on #38951
Still worth considering?

[2021-04-07 16:31] vtjnash commented on #31456
The PR https://github.com/JuliaLang/julia/pull/31493 seems to have stalled

Though, in this example, I'm not sure why you wouldn't mark the capture as an optional match of a required group
[code]

[2021-04-07 16:37] StefanKarpinski commented on #39199
@c42f, can you take a look at this? Seems like there's a missing local scope block in the implementation.

[2021-04-07 16:38] StefanKarpinski commented on #39202
Still an issue on 1.6?

[2021-04-07 16:41] StefanKarpinski commented on #39243
Yes, that would be good if someone wants to implement it.

[2021-04-07 16:47] StefanKarpinski commented on #39282
@staticfloat, do you still want to do this? If so, we should nail down the design and make a PR.

[2021-04-07 17:05] tlienart commented on #31456
I'm happy to pick it up where it stalled, just wasn't sure whether it was appropriate, thanks for the feedback there

Re the example, it's a slight modification from the docs (see https://discourse.julialang.org/t/replace-with-non-matching-group/22187), fair enough there's a workaround but this should still be fixed I think.

[2021-04-07 17:10] dlfivefifty commented on #39202
I haven’t seen this recently and don’t have time to check with the Manifest.toml , so I suggest we just close

[2021-04-07 17:19] StefanKarpinski commented on #26261
Closing. Can reopen if still an issue.

[2021-04-07 17:19] #26261 closed

[2021-04-07 17:25] StefanKarpinski commented on #39363
Is this still an issue?

[2021-04-07 17:28] giordano commented on #39363
I think so, @IanButterworth bumped into it a few days ago

[2021-04-07 17:28] JeffreySarnoff commented on #39079
assuming
- an iterator iterates over an iterand
    - (iterator is functional, iterand is constitutive)
    -
- an empty _or otherwise completed_ iterator ceases iteration
- a non-empty _or otherwise not completed_ iterator continues iteration

iteration over totally ordered, countable and countably finite, collections
       where `first` and `last` are well defined and discoverable and
       ea

[2021-04-07 17:36] BioTurboNick commented on #40363
A stronger warning might help. Can you clarify what you mean by dynamically building them, and how that would not work with requiring a DateFormat to be constructed explicitly?

[2021-04-07 17:48] IanButterworth commented on #39363
Indeed. Current master d02aba4c212a5489f7e7a6a4defa6f4663c5606b . MacOS 11.2.3
[code]

[2021-04-07 17:52] vtjnash commented on #39582
Yeah, looks like they close that issue in 2018, since it was "believed fixed", but here's the obviously broken code still present https://github.com/freebsd/freebsd-src/blob/12db51d20823a5e3b9e5f8a2ea73156fe1cbfc28/libexec/rtld-elf/rtld.c#L198

@ararslan as a freebsd user, would you be willing to make an issue on the above issue tracker link, that `dlerror` is un-thread-safe?

[2021-04-07 17:58] #38670 closed

[2021-04-07 17:58] vtjnash commented on #38670
Don't know how to repro this, since we haven't been seeing it recur

[2021-04-07 18:00] vtjnash commented on #38640
We haven't seen this again since we turned on `rr`

[2021-04-07 18:00] #38640 closed

[2021-04-07 18:01] vtjnash commented on #38640
(though I think there may still be an upstream bug in libunwind-gnu, we've also improved our unwinder info, so hopefully we aren't hitting that bug as frequently anymore)

[2021-04-07 18:02] vtjnash commented on #38803
Probable duplicate of https://github.com/JuliaLang/julia/issues/38711

[2021-04-07 18:02] #38803 closed

[2021-04-07 18:03] staticfloat commented on #40361
@sethaxen I have been unable to reproduce this, but my guess is that's because the oldest mac processor I have access to is a Haswell chip (which has AVX2) while yours is an Ivy Bridge (which does not).

Can you run julia inside of `lldb` and get a backtrace for me?  If you can write the reproducer as a script, it should be pretty easy to run `lldb -- julia ./test.jl`, then type `r` to run the pro

[2021-04-07 18:13] awadell1 commented on #39243
Is this a decent first issue? It looks like adding another branch to Test.jl would work, or would this require getting `1 <: 2` to have a head of `:call

[2021-04-07 18:24] ViralBShah commented on #39363
We use 10.9 right now in Make.inc. Could just change it to 10.10.

[2021-04-07 18:26] giordano commented on #39363
Maybe.  Related to the minimum macOS version: https://github.com/JuliaLang/julia/issues/40375#issuecomment-814434842

[2021-04-07 19:18] jmkuhn commented on #40199
Fixed with https://github.com/JuliaLang/julia/pull/40381.

[2021-04-07 19:18] #40199 closed

[2021-04-07 19:42] yurivish commented on #39340
Why was this issue closed

I re-ran the measurements from the original post and the results from the original measurements still hold on Julia 1.6 on macOS:

[code]

This behavior is surprising to me and I think a lot of other people would also find it surprising. I feel like the fact that adding `@inbounds` can make code slower should either be documented or fixed, if a fix is possible.

[2021-04-07 20:38] ararslan commented on #39582
[Done](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=95339#c5)

[2021-04-07 20:40] mbauman commented on #39340
So, you're effectively creating a nested for loop:

[code]

It's not terribly surprising that a boundscheck in the outer loop could help Julia figure out it's safe to remove boundschecks in the inner one. Indeed:

[code]

[2021-04-07 20:45] ViralBShah commented on #40375
We should probably bump it on Julia to 10.10 ([which released in 2014](https://en.wikipedia.org/wiki/OS_X_Yosemite)), so hopefully that is still old enough to support users.

[2021-04-07 20:48] staticfloat commented on #39282
yeah, I do still want to do this.  The design decision is to figure out how to merge the environments together.  The usecase I have in mind is when we have multiple `Cmd` objects, each representing a command, and they get combined together due to something like `sudo` or `lldb`.  E.g.

[code]

In this case, each command may have had environment variables set within it, to alter its behavior.  I'm

[2021-04-07 20:51] sethaxen commented on #40361
@staticfloat here you go:

[code]

[2021-04-07 20:54] staticfloat commented on #40375
Can someone impacted by this try building with Julia set to `10.10` to verify that it fixes the issue?

[2021-04-07 20:59] ViralBShah commented on #40375
Perhaps relevant? https://stackoverflow.com/questions/5167269/clock-gettime-alternative-in-mac-os-x

[2021-04-07 21:07] matbesancon commented on #40189
just to be sure, does the current snippet work on the current version?

[2021-04-07 21:10] crstnbr opened #40393 "digits2integer: inverse digits function"
We have the `digits` function for `integer -> digits`:

[code]

However, we don't have the "inverse function" that implements `digits -> integer`. A top of the head implementation (ignoring `base` and `pad` keyword arguments) could be something like (cc: @ararslan)

[code]

(Very ugly alternative: `parse(Int, join(digits))`)

such that

[code]

I feel we should have something like this, what do yo

[2021-04-07 21:23] yurivish commented on #39340
Interesting, thanks for the explanation. It makes sense to me now that `@inbounds` can decrease performance, but I suspect that this is not intuitive to many users of `@inbounds` since there's an intuition that "giving the compiler more information" should never make things worse.

This issue was opened because someone noticed the slowdown and was surprised, and https://github.com/JuliaLang/julia/

[2021-04-07 21:28] chriselrod commented on #40361
[code]
vfmadd213sd is a problem if you're on ivybridge (no fma).

[2021-04-07 21:50] staticfloat commented on #40361
Indeed that is a problem.  I found the issue; we were adding the platform targeting makevars to `FLAGS` (an undefined variable) instead of `flags`, so the `x86_64` builds were targeting the same architecture as the machine they were getting built on, which does have FMA instructions.   BB's audit pass didn't catch this because it sees that OpenBLAS has CPUID instructions inside of it, so it assume

[2021-04-07 22:11] biochem-fan commented on #32455
@oschulz I looked at your code on Gist.

Your `fill_randn_mt_atomic!` actually uses a global `SpinLock`, while `fill_randn_mt_lock!` uses `atomic_push!`. Is this intentional?

Where is your `atomic_addindex!` used? Shouldn't your `atomic_push!` call it?

[2021-04-07 23:43] tkf commented on #40360
What *is* an unsafe API? Is it an API where programming error (unsatisfied precondition) implies undefined behavior? But not all "ordinary" functions protect against undefined behavior when it's misused:

[code]

Concurrency APIs such as `@async`, `@spawn`, and `Channel(function)` are another class of API that can easily invoke undefined behavior or violation of invariance of user programs.

[2021-04-08 01:09] GlenHertz opened #40398 "bug-report=rr pollutes the user's environment"
When running julia 1.6.0 on Linux like:

[code]

It will modify the project's environment:

[code]

while it should create a temporary environment and not modify the user's project environment.

[2021-04-08 01:13] Keno commented on #40398
I originally had a `Pkg.activate` here to avoid this, but looks like that got dropped in https://github.com/JuliaLang/julia/commit/43d8a285d3f0a0a432692cbdb78f1be2ea871f81 (cc @fredrikekre). @fredrikekre can you suggest a fix?

[2021-04-08 01:50] Keno opened #40399 "Proposal: Partition bindings by world age"
I've been doing some work that has a fairly big dependency stack (100-200 packages) and as such takes a few minutes to warm up. Because of this non-Revise-able code is extremely painful, so I'd like to take another look at https://github.com/timholy/Revise.jl/issues/18. This has some fairly long history of course, but to avoid getting buried in the discussion, I figured a new issue for my specific

[2021-04-08 01:55] vtjnash commented on #34516
Yes, you can run timholy's commands just above to see the problem

[2021-04-08 01:56] vtjnash commented on #34516
Possibly similar also to https://github.com/JuliaLang/julia/issues/39902?

[2021-04-08 02:02] ninjin commented on #40390
Should have mentioned that this is on the `release-1.6` branch. It was fixed on `master` by d1fa5a57acff6ebe51424dca71f6e962d86d28b1, but this was after the release branch forked. This is an easy patch for packagers out there, so not sure if it is worthy of backporting. On the flip side, it is also about as trivial of a patch as it can be to backport. Would also be addressed if #39400 is backporte

[2021-04-08 02:23] vtjnash commented on #39199
Everything seems intentional here. Assigning a keyword argument in a function call doesn't alter a local variable of the same name, and debug statements are not executed if they are disabled.

[2021-04-08 02:31] vtjnash commented on #39202
Looks fixed by #40066. @Keno this might need manual backport, since it seems buried in an unrelated change.
[code]

[2021-04-08 02:39] Keno commented on #39202
well, the unrelated change exposed it, which is why it was there - wasn't sure it as otherwise reachable, but yes, I think that standalone backport is fine.

[2021-04-08 02:58] #39284 closed

[2021-04-08 03:57] jaakkor2 commented on #40375
https://github.com/JuliaLang/julia/pull/40396 did not fix this issue for me.

I created https://github.com/JuliaLang/julia/pull/40400 to be able to download a binary with `-mmacosx-version-min=10.10`.

[2021-04-08 04:44] jaakkor2 commented on #40375
`-mmacosx-version-min=10.10` on Julia side does not fix this, tested with #40400.

https://github.com/xianyi/OpenBLAS/issues/2814#issuecomment-752751563 and the linked issue https://github.com/pocoproject/poco/issues/1453 show many similar issues about `_clock_gettime`.

[2021-04-08 04:59] JeffreySarnoff commented on #40368
yes absolutely (a thorn too long unpared)

[2021-04-08 06:11] Keno commented on #40375
The compiler can do OS x version detection. OpenBlas should not be using those symbols without checking that.

[2021-04-08 07:31] vtjnash commented on #39282
That particular example is not generally correct. The normal security policy for sudoers strips out all environment variables from all commands. Most however may be passed on the command line in the form of VAR=value. So just for this example, the correct form would be:

[code]

The same could be said to be true of other wrapper programs, such as `ssh`. Or even more generally, the program `env - N

[2021-04-08 07:45] vtjnash commented on #40375
Those issues are pretty closely related to this: it seems that the Apple headers are broken, so gcc/gfortran/openblas mis-detect the symbol as existing, when it should not (the ability to compile this header correctly is predicated on the existence of the clang extension `#if __has_extension(enumerator_attributes)`)

[2021-04-08 11:42] giordano commented on #40393
Support non-10 bases, like [`digits`](https://docs.julialang.org/en/v1/base/numbers/#Base.digits) does

[2021-04-08 12:02] fredrikekre commented on #40398
I believe it was correct after https://github.com/JuliaLang/julia/commit/43d8a285d3f0a0a432692cbdb78f1be2ea871f81 but https://github.com/JuliaLang/julia/commit/6d3ff11e49a926c0398b6ddfdb3b7da34692ed51#diff-b5a3d517bf443d59c5cfe08a30886d887e477b9681c91ffdf258a8e8229266bc removed some logic there.

[2021-04-08 12:20] simeonschaub commented on #40393
This can be made O(n) instead of O(n log(n)) by not calculating `10^(i-1)` in each iteration, but building it up iteratively instead. Not sure that will make a big difference for the ranges `Int` can cover though.
Should we also be careful and check that `abs(x) < 10` for each `x`?
As for names, perhaps this could even be a method of the `Int` constructor `Int(::AbstractArray{<:Integer}; base=10)`

[2021-04-08 12:27] fredrikekre commented on #40398
Should be fixed by https://github.com/JuliaLang/julia/pull/40403, but note that BugReporting does not respect the `--project` flag (but that should be fixed in that package).

[2021-04-08 12:33] KristofferC commented on #40393
You can also just precompute them, that's what I see people typically do in various parsers. Assumes you will only go up to e.g. Int64 though.

I would say so, yes.

[2021-04-08 12:57] Seelengrab commented on #40393
<details>
<summary>
I don't think precomputing is worth it here
</summary>

[code]
</details>

[2021-04-08 12:58] mgkuhn commented on #40393
[@evalpoly](https://docs.julialang.org/en/v1/base/math/#Base.Math.@evalpoly)
[code]

[2021-04-08 13:07] Seelengrab commented on #40393
Nice one, @mgkuhn ! But sadly slower than the naive loop version from the spoiler tag above:

[code]

[2021-04-08 13:16] mcabbott commented on #40393
I think it's fast if you remove the splat, just call `evalpoly(10, digits(-1234))` etc.

What this doesn't do is any checking that the digits are single digits, and all the same sign.

[2021-04-08 13:28] Seelengrab commented on #40393
Indeed - not any better than the version with error checking though. Branch predictors are truly marvellous!

[code]

[2021-04-08 15:36] JeffBezanson commented on #40399
I'm not sure we can reasonably handle that. I think we don't really handle it for methods either?

[2021-04-08 15:37] #40337 closed

[2021-04-08 15:58] Keno commented on #40399
We don't handle backedges to the generated function generator, but we do handle backedes in the expanded code. Here, since we don't have the syntactic version of the generated code available, we'd need to store those as forward edges.

[2021-04-08 16:06] #40361 closed

[2021-04-08 16:46] #33413 closed

[2021-04-08 16:53] StefanKarpinski commented on #39199
I guess the issue here is that in the first version `x = 2` is an expression which is evaluated in the current scope in order to produce a debug message, not as a key-value pair of metadata for the debug message. Not sure if there's some limitation on debug message expressions or values which should be imposed here.

[2021-04-08 17:07] #39363 closed

[2021-04-08 17:14] KristofferC commented on #39199
I agree with Jameson that the current behavior looks reasonable.

[2021-04-08 17:41] johntrinder opened #40404 "Problem with NamedTuple, T and Union{T, Tuple{Vararg{T}}"
Julia v1.6
I'm having an issue that I don't know if it's me or a bug; it's best detailed in the following simplified code:

T = NamedTuple{(:a, :b), Tuple{Char, Int64}}
S = Union{Tuple{Vararg{T}}, T}

function foo() :: S
        return ((a='3', b=5), (a='5', b=7)) # OK
        # return (a='3', b=5) # OK
end

foo() # works fine

T = NamedTuple{(:a, :b), Tuple{Union{Char, Nothing}, Int64}}
S = Union

[2021-04-08 17:45] #40398 closed

[2021-04-08 17:59] vtjnash commented on #39199
@StefanKarpinski It is similar to doing this, which we don't impose a limitation on either:
[code]

[2021-04-08 18:02] biochem-fan commented on #32455
@oschulz I confirmed that without using `atomic_addindex!`, the result is not correct.

I added sanity checks https://gist.github.com/biochem-fan/19072418e90dd783227a347efe892860/revisions and repaired function names.

The results with 24 threads on Xeon  E5-2643 v2 are:

- No multi-threading: 255.538 ms
- Atomic add: 38.816 ms
- Global spin lock: 578.194 ms

So, atomic add is the fastest.

[2021-04-08 18:08] vtjnash commented on #40404
This basically boils down to not having a way to convert type in a Union to a different one in the Union:
[code]
I'm not sure what we can do here

[2021-04-08 18:18] johntrinder commented on #40404
No it's me - there's no bug. Doing the following works:

T = NamedTuple{(:a, :b), Tuple{Char, Int64}}
T = Union{T, NamedTuple{(:a, :b), Tuple{Nothing, Int64}}}
S = Union{Tuple{Vararg{T}}, T}

function foo() :: S
        return ((a='3', b=5), (a=nothing, b=7)) # OK
        # return (a=nothing, b=5) # OK
end

foo() # works fine

[2021-04-08 19:17] johntrinder commented on #40404
Another way is probably better:

`T = NamedTuple{(:a, :b), Tuple{Union{Char, Nothing}, Int64}}
function foo2() :: Union{T, Tuple{Vararg{T}}}
    v = Vector{T}()
    push!(v, (a='3', b=5), (a=nothing, b=7))
    # return Tuple(L)
    return v[1]
end

foo2()
`

[2021-04-08 19:34] johntrinder commented on #40404
typo in the above, L should be vector v

[2021-04-08 19:34] JeffBezanson commented on #40042
From triage: :+1: , but do the check in printing.

[2021-04-08 19:46] Roger-luo opened #40405 "Vararg subtyping is inconsistent between 1.0 and 1.6"
on 1.0, 1.2, 1.3, 1.4

[code]

on 1.6, 1.5

[code]

I guess if it's a bug on 1.0 should be backported? if not 1.6 should be updated instead then?

[2021-04-08 19:47] chriselrod opened #40406 "Segfault loading GLMakie"
Not sure of the cause -- I could upload an rr trace. Not that familiar with gdb, but could poke around later myself to try and see if I can figure something out.
[code]
The segfault doesn't kill the main Julia process, so it's not as bad as it looks.

[2021-04-08 19:48] oscardssmith commented on #16606
The better approach here is probably to use `sum(eachslice(A,...))`. In general, `dims=...` was probably a design mistake, and rather than working on supporting it more, we should work on making more composable methods to get the same functionality.

[2021-04-08 19:55] vchuravy commented on #40406
Can you get a backtrace out of GDB? Maybe necessitates rebuilding julia with `LLVM_DEBUG=2`

[2021-04-08 19:56] vchuravy commented on #40406
Also what is your GL stack? Which GPU are you using, etc...

[2021-04-08 20:00] Roger-luo commented on #40405
on current nightly this errors

[code]

[2021-04-08 20:07] vtjnash commented on #26701
We discussed this on triage, and felt that it is better to be explicit about the transforms for irrational numbers into the appropriate computational types and not add more methods to them.

[2021-04-08 20:09] JeffBezanson commented on #40405
`Vararg` is not really a type; it's only part of the structure of a tuple type. The current behavior is correct, and 1.6 is more correct than 1.0.

[2021-04-08 20:09] #40405 closed

[2021-04-08 20:09] vtjnash commented on #31949
We discussed this on triage, and felt that it is better to be explicit about the transforms for irrational numbers into the appropriate computational types and not add more methods to them. Just worth noting that the links in the relevant discussion were closed for the same reason in years past, so we seem to be pretty consistent here still in our thinking.

[2021-04-08 20:09] #31949 closed

[2021-04-08 20:12] vtjnash commented on #22878
We discussed this on triage, and felt that it is better to be explicit about the transforms for irrational numbers into the appropriate computational types and not add more methods to them.

In this way, this type could be viewed as being similar to `undef`, that exist as a token to pass to various constructors, but is not itself a fully-fledged type (another example of this may be `I` in LinearAl

[2021-04-08 20:12] #22878 closed

[2021-04-08 20:18] vtjnash commented on #26694
I think this boils down to `rem` not being computable for this example, which we use as the means to define all of the `div`:
[code]

[2021-04-08 20:27] chriselrod commented on #40406
[code]
With
[code]
in my Make.user, so the fact that the backtrace shows only stripped symbols makes it look like I was wrong to think it was an LLVM symbol conflict like it once was (i.e., that the problem is somewhere in glfw)?

Here is part of the output of `glxinfo`:
[code]
GPU is a Vega 64, and I'm on Mesa 21.0.1.

[2021-04-08 21:08] #40238 closed

[2021-04-08 21:36] biochem-fan commented on #32455
@oschulz Thank you very much for confirmation and more test results.

Indeed your result for 128 threads is interesting. Unfortunately I don't have access to machines with so many cores and I cannot try it.

This new results demonstrate that `atomic_addindex!` is useful at least in some cases. I am new to Julia developer community. How should we move forward? PR #37683 seems stale.

Until `atomic_

[2021-04-08 21:56] oschulz commented on #32455
Maybe a little package (e.g. "AtomicArrays.jl") would be best for now.

[2021-04-08 22:22] #19998 closed

[2021-04-08 22:23] vtjnash opened #40407 "known subtyping issue"
[code]

from https://github.com/JuliaLang/julia/issues/19998

[2021-04-08 23:12] MasonProtter opened #40409 "Illegal instruction interpolating an opaque closure into at-btime"
I searched around and didn't see a prior issue for this. Interpolating an `@opaque` closure into a `@btime` body causes an illegal instruction error in the runtime.

MWE:
[code]
Here's my version info:
[code]

I'll also not that this occurs for me if I create `f` as a `const` as well.

[2021-04-09 00:34] mbauman commented on #12079
If I updated this correctly, it seems it's no longer an issue with the new `Serializer`:

[code]

[2021-04-09 00:34] #12079 closed

[2021-04-09 00:44] mbauman commented on #12987
This seems to have been addressed at some point; `julia.h` no longer includes `support/ios.h` (nor any header that includes it to my eyes).

[2021-04-09 00:47] mbauman commented on #13720
`type` is no longer reserved. The same errors appear for `struct`, but it's far less likely to stumble upon:

[code]

[2021-04-09 00:58] mbauman commented on #13303
Compilation time is now included:

[code]

Since this issue was created, we also now have far more robust benchmarking and profiling tools (this issue predates BenchmarkTools!)

[2021-04-09 00:58] #13303 closed

[2021-04-09 01:05] mbauman commented on #14107
This no longer errors:

[code]

The other ideas could potentially be tackled, but they're rather speculative and could be tracked separately.

[2021-04-09 01:05] #14107 closed

[2021-04-09 01:19] mbauman commented on #14090
Well we no longer create abstract types... we just segfault:

[code]

[2021-04-09 01:25] mbauman commented on #9127
We do now have that information — but it's not in the parser where this particular error is thrown.

[code]

[2021-04-09 01:27] mbauman commented on #13766
Is this still relevant?

[2021-04-09 01:29] mbauman commented on #14938
More recent discussion at #40189

[2021-04-09 01:29] #14938 closed

[2021-04-09 01:35] mbauman commented on #15189
This is now unified with `where` clauses.

[2021-04-09 01:35] #15189 closed

[2021-04-09 01:37] mbauman commented on #14794
The initial example now works:

[code]

[2021-04-09 01:37] #14794 closed

[2021-04-09 01:40] matthias314 opened #40412 "inserting into a large `Dict` becomes extremely slow for certain sizes"
I have noticed that inserting into large `Dict`s becomes extremely slow at certain sizes. Consider the following example where I merge two dictionaries with disjoint keys:
[code]
The output contains:
[code]
The time continues to increase linearly. I didn't wait for the loop to complete, but the situation gets better again when you get close to 5_600_000 elements. A loop counting down gives:
[code]

[2021-04-09 01:50] mbauman commented on #14801
This line fortunately no longer appears in the docs.

[2021-04-09 01:50] #14801 closed

[2021-04-09 01:54] mbauman commented on #15829
The REPL history file is now contained in the `.julia` folder and its location is far more configurable (and essential).

[2021-04-09 01:54] #15829 closed

[2021-04-09 01:56] mbauman commented on #16571
Well it's now slightly better:

[code]

Personally, I like this distinction between arrays and other things.

[2021-04-09 01:59] omus commented on #14938
@mbauman sounds good to me. One reason we may want to re-open this is to address the issue that Julia doesn't require the module name to be defined on the same line as the `module` keyword. That said adding support for unnamed modules would require that problem to be addressed.

[2021-04-09 02:01] mbauman commented on #17704
I think this is fixed // just printed better now:

[code]

[2021-04-09 02:01] #17704 closed

[2021-04-09 03:10] #40336 closed

[2021-04-09 03:30] vtjnash commented on #12079
Yes, we don't have reinterpret, and do have unsafe_write now

[2021-04-09 03:31] vtjnash commented on #12987
It is in libsupport.h now

[2021-04-09 03:32] #13720 closed

[2021-04-09 03:38] vtjnash commented on #13766
Not really. We do end up defining that full-source-tallball means DEPS_GIT=0, so it is not supported, but also doesn't seem to be needed much

[2021-04-09 03:38] #13766 closed

[2021-04-09 03:39] #16571 closed

[2021-04-09 04:04] murari0 opened #40413 "`get(f::Function, dict, key)` not defined for `Base.ImmutableDict`"
It looks like the `get(::Function, dict, key)` version of `get()` is not defined when `dict` is an `ImmutableDict` (and I guess, by extension, an `AbstractDict`). Is this an oversight, considering the documentation lists this as a generic method for collections?

MWE:

[code]
Julia version: 1.6.0, commit f9720dc2eb* (2021-03-24 12:55 UTC)

[2021-04-09 06:11] KristofferC commented on #40413
`ImmutableDict` is an internal data structure so it probably just have the methods that is needed for its current usage.

[2021-04-09 07:54] attdona opened #40416 "SIGINT capture with multiple threads"
I'm not able to capture in a reliable way a sigint in a multithreaded process.

Below a MWE the expose the problem:

test_signal.jl:

    Base.exit_on_sigint(false)

    function timer_task(channel)
        put!(channel, "timer done")
    end

    function cleanup()
        @info "shutting down ..."
        # saving status ...
    end

    function loop(channel)
        try
            for msg in

[2021-04-09 11:33] guo-yong-zhi opened #40417 "multiple for is much slower than Iterators.product"
\> `@btime Iterators.product(1:1000, 1:1000) |> collect;`
2.107 ms (2 allocations: 15.26 MiB)

\> `@btime [(i,j) for i in 1:1000, j in 1:1000] |> vec;`
2.193 ms (4 allocations: 15.26 MiB)

\> `@btime [(i,j) for i in 1:1000 for j in 1:1000];`
10.231 ms (21 allocations: 17.00 MiB)
***
There are more allocations in "multiple for" version. I guess it can't work out the size in advance, although `i` an

[2021-04-09 13:38] ZiCog opened #40418 "Install on MacOS 11.2.3 does not work."
I install Julia 1.6 as per the instructions for MacOS here: https://julialang.org/downloads/platform/
I have MacOS 11.2.3 on a MacBook Pro M1.

On opening the Julia app from the applications folder in Finder or Launchpad a terminal opens containing the following error:
[code]
Clearly the "e" from "exec" has gone missing somewhere. I presume the "Would you like to update?" prompt shown is expecting

[2021-04-09 14:19] #39350 closed

[2021-04-09 14:34] simeonschaub commented on #40417
The two aren't quite the same, since in the first two examples, the ranges can't depend on each other. The third form OTOH, also supports things like `[(i,j) for i in 1:1000 for j in 1:i]`, so the second range doesn't necessarily have a fixed length, which means it isn't always possible to calculate the length in advance. I think we could special case `collect` for `Iterators.flatten` though to no

[2021-04-09 14:47] simeonschaub commented on #40272
Closed by #40339

[2021-04-09 14:47] #40272 closed

[2021-04-09 15:14] rfourquet commented on #40413
Actually, it's documented [here](https://docs.julialang.org/en/v1/base/collections/#Base.ImmutableDict), I wish it weren't, to keep it fully internal.

That said, it's occasionally useful to have `ImmutableDict` available outside of `Base` for use by people who know it's internal and may break, in which case it seems fine to make their lives easier by implementing missing methods when they need it

[2021-04-09 15:32] mschauer opened #40419 "`Internal error: encountered unexpected error in runtime`"
I seem to have a reproducible error in Julia 1.6.0
[code]

seems to go wrong at
[code]

 I run
[code]

Full stacktrace https://gist.github.com/mschauer/c6cc6bf2252a7b44ae7c27a38abcba2b

[2021-04-09 15:34] mschauer commented on #40419
The offending line in the program is a comprehension: ```[pcn_innov(Z[i], ρ) for i ∈ eachindex(Z)]```.

[2021-04-09 15:39] simeonschaub commented on #40419
Are you able to share the whole code?

[2021-04-09 16:08] omus commented on #33147
On Julia 1.6 the "caused by" statement appears on the same line as the redundant error message resulting in this misleading statement:
[code]

[2021-04-09 16:23] non-Jedi opened #40420 "Automatic SIMD vectorization of integer arithmetic with --cpu-target=ivybridge"
When looking at `code_llvm`, the simple function `f` below uses vectorized instructions when called with `Float64` but not when called with `Int`. Quickly checking with Clang, this kind of thing does get vectorized. Is there a reason julia doesn't do this, or is it simply something that hasn't yet been implemented?

[code]

At this point, this is one of the primary things holding julia back in sev

[2021-04-09 16:44] oxinabox commented on #36709
I have encountered this again, with Parallelism 1.2 which prints the error if `should_retry` is false (or true).
It did not print anything, except the message as per https://github.com/JuliaLang/julia/issues/36709#issuecomment-793892953

[2021-04-09 19:19] vtjnash commented on #22480
More suitable for a package (e.g. https://github.com/JuliaData/Parsers.jl), and really not a good-first-issue

[2021-04-09 19:19] #22480 closed

[2021-04-09 19:26] vtjnash commented on #5571
This seems to be a morass of ideas, better suited now to discourse (since github search and pagination is awful), or the sub-issues it has spawned (such as #24990)

[2021-04-09 19:26] #5571 closed

[2021-04-09 19:38] vtjnash commented on #26687
Closed by #34623

[2021-04-09 19:38] #26687 closed

[2021-04-09 19:48] StefanKarpinski commented on #40189
Yes:
[code]
Is that what you meant?

[2021-04-09 19:59] ChrisRackauckas commented on #27988
Does that still occur if you use `DiffEqBase.@..`?

[2021-04-09 20:01] StefanKarpinski commented on #40360
It's an API where you can violate the abstractions and invariants enforced by the language. So anything that writes or reads raw memory is unsafe. `@inbounds` is similarly unsafe because you can cause an array access to read/write arbitrary memory. `@ccall` is unsafe because you can lie about the signature of the function you're calling and do arbitrary things. `eval` is not unsafe in this sense,

[2021-04-09 20:02] StefanKarpinski commented on #39340
It seemed to me that @maleadt's comment indicated that this issue was fixed, so I closed it.

[2021-04-09 20:13] jlchan commented on #27988
Yeah: for StaticArrays arguments
[code]

[2021-04-09 21:44] mschauer commented on #40419
Yes, but I cannot reproduce it anymore, I'll close.

[2021-04-09 21:44] #40419 closed

[2021-04-09 22:24] adamslc commented on #40418
I am not up to date on how well Julia is running on M1, but this looks like a different issue. It looks like oh my zsh is asking you to update everytime you launch a new terminal window. What happens if you open a new terminal (not using the julia application), and answer the question (e.g. type n<enter>)?

[2021-04-09 22:54] vtjnash commented on #29672
This now works (`nothing` can again be printed)

[2021-04-09 22:54] #29672 closed

[2021-04-09 23:14] vtjnash commented on #36460
With https://github.com/JuliaLang/julia/pull/38956 merged, someone should be able to make this work in the REPL now

[2021-04-09 23:17] #31456 closed

[2021-04-09 23:53] quinnj commented on #22480
Yes, this wouldn't be very hard to support in Parsers.jl if someone wanted to take a stab there; it would involve adding an additional field to the `Parsers.Options` struct, parsing the base, and passing it to the `Integer` and `Float` `typeparser` methods. The code in those files are fairly "unrolled", so there are a few places to update depending on the base requested, but it wouldnt' be too har

[2021-04-10 00:06] fredrikekre opened #40424 "Missing docstring for ->"

[2021-04-10 02:41] Keno commented on #24505
This appears fixed in more recent versions of wine.

[2021-04-10 02:41] #24505 closed

[2021-04-10 03:01] arvganesh commented on #40385
Hi @oscardssmith, I'd like to tackle this issue. I will try to make a PR in a few days. Thanks!

[2021-04-10 03:14] Keno commented on #29161
Fixed upstream

[2021-04-10 03:14] #29161 closed

[2021-04-10 03:16] oscardssmith commented on #40385
Glad to see you're interested! This won't be especially easy since it will require a lot of testing to ensure non-regression in terms of accuracy. If you're interested in working on this, you want to be using Remez.jl for the coefficients, and I can send you a fairly detailed test suite (the one I've used for a bunch of my special function PRs).

[2021-04-10 03:19] Keno commented on #33063
This appears to have been fixed upstream.

[2021-04-10 03:19] #33063 closed

[2021-04-10 03:44] arvganesh commented on #40385
Thanks for the information, I'd be happy to take a look at the test suite.

 I thought the [coefficients](https://github.com/JuliaLang/julia/blob/cc45b99d320af9b6b046b8b483ee38dd051d9b22/base/special/trig.jl#L57) for `sin_kernel` and `cos_kernel` were from the Taylor series expansion.

[2021-04-10 04:00] oscardssmith commented on #40385
The coefficients are actually from minimax polynomials over the reduction range. Taylor series give the best approximation around a point, but if you care about minimizing the maximal error on a particular domain, they are noticeably less efficient than specially chosen polynomials.

[2021-04-10 04:30] himanshu007-creator commented on #40424
I would like to work on this issue. Please guide me , where do i need to make changes?

[2021-04-10 04:51] aramirezreyes commented on #40424
I just learned in the Slack that /julia/base/docs/basedocs.jl would be a good place to start.

[2021-04-10 05:15] toivoh commented on #39595
I got it to work with

    template<typename T>
    static inline T jl_atomic_load_relaxed(volatile T *obj)
    {
        return jl_atomic_load_acquire(obj);
    }

I guess this is not ideal, since `jl_atomic_load_acquire` should be stronger than `jl_atomic_load_relaxed`, but at least that means that is should work.

Some googling led me to believe that `InterlockedOrNoFence` might be used instead

[2021-04-10 05:17] murari0 commented on #40413
That is actually where I found `ImmutableDict`. I do realise it's internal, but it seemed useful for a module of mine. Looking at the way `get()` is defined for `Dict`s in dict.jl, it looks like I can write up a quick patch to implement this in an analogous manner, if that is useful.

[2021-04-10 05:25] toivoh commented on #34201
Thanks to an answer I found on StackOverflow, I got it work by using

    #include <uv.h>
    #include <windows.h>
    #include <julia.h>

I still get a compilation warning:

    ...\windows kits\10\include\10.0.17763.0\ucrt\signal.h(22): warning C4005: 'NSIG': macro redefinition
    ...\appdata\local\programs\julia-1.6.0\include\julia\uv\win.h(68): note: see previous definition of 'NSIG'

where t

[2021-04-10 05:28] toivoh commented on #39595
I also had to handle https://github.com/JuliaLang/julia/issues/34201 to get embedding to work (tried with Julia 1.6.0 in MSVC 2017), described what I did in that issue.

[2021-04-10 08:26] KristofferC commented on #40413
Oh, I was just completely wrong here then. Was added to the manual in https://github.com/JuliaLang/julia/pull/25114. That's unfortunate... Just ignore my message then :)

[2021-04-10 10:26] fredrikekre commented on #40424
Yes, something like
[code]

[2021-04-10 13:35] ViralBShah opened #40430 "Reduce the number of places where deps versions are picked up from"
Currently we have to do version bumps for a `deps` library update in 3 places:
1. Project.toml
2. Versions.make
3. libname.version

The Project.toml is for picking up the right library from Yggdrasil, but the other two could perhaps be consolidated a bit in the build system. In an ideal situation, we would centralize all this information in our build system for each library in only one place.

[2021-04-10 13:38] ViralBShah commented on #40430
I know that `libname.version` allows picking a branch and commit, in a more fine grained way than Versions.make does. We have needed that for many libraries (esp. libuv and openblas) in the past, so we don't want to lose that - but it would be nice if it were all consolidated in one file per library or something.

Ideally the Project.toml versions also get picked up from this same file, but someti

[2021-04-10 13:53] #40404 closed

[2021-04-10 16:15] chriselrod commented on #27988
Inference seems to be failing. Saw a lot of `::Vararg{Float64,N} where N`s.
Shot in the dark: inference is bailing on recursion in the head/tail `makeargs`?

[2021-04-10 16:56] Cvikli opened #40431 ":typed_comprehension parser doesn't parse the what :comprehension expression does"
Hey Julianners,

I have to parse the julia syntax tree and generate new code in a macro and I faced with an issue where if I parse the `:typed_comprehension` and generate a new code I got into many unhandled cases while `:comprehension` case can understand the generated code correctly.
A minimal example to reproduce:
[code]

I don't know if it is the case but the :comprehension and the :typed_comp

[2021-04-10 17:00] simeonschaub commented on #40431
Yes, `begin` and `end` have special meaning inside indexing expressions to allow for syntax like `A[end]`, so this is expected. You can use `(a = sum(...); a; ...)` for blocks instead though.

[2021-04-10 17:00] #40431 closed

[2021-04-10 18:02] Cvikli commented on #40431
Sorry to reopen, but the problem is that I have bigger block in those.

Also, this doesn't explain why is this works with :comprehension. So the first one works perfectly, only the second one doesn't. That is why I can't port the typed_comprehension to work.

[2021-04-10 18:11] FerreolS commented on #29223
I completely agree, I have followed the same path.
I'm happy with the default but in some case in need to have a look in details to some arrays or dict.
Why not proposing a macro `@showall` as (excuse partial knowledge of macro coding):
[code]
giving :
[code]
instead of
[code]

[2021-04-10 18:12] simeonschaub commented on #40431
You can still put newlines in there, so I don't quite understand why this wouldn't be possible.

The parser treats anything that looks like `A[...]` like an indexing expression, where `begin` and `end` have a special meaning. Expressions that look like `[...]` don't have these special semantics.